<div class="blog_wrap blog_wrap-new pb-0">
    <div class="blog_img">
        <img src="{{ 'blog_recommend_1.webp' | asset_url }}" alt="" class="img-fluid d-none d-md-block">
        <img src="{{ 'blog_recommend_1Mob.webp' | asset_url }}" alt="" class="img-fluid d-md-none">
    </div>
    <div class="p-md-0 p-3">
        <div class="blog_content p-1 pb-2">
            <h6 class="blog_info pb-2">Qure recommends</h6>
            <h5 class="blog_title mb-md-0">Discover our Best Sellers
            </h5>
        </div>
        <div class="blog_btn_wrapper position-static p-1">
            <a href="https://www.qureskincare.com/collections/best-sellers" class="btn text-decoration-none text-white btn-primary blog_btn">Shop Now</a>
        </div>
    </div>
</div>