<style>
    .form-success {
        color: red;
        padding: 10px;
    }
</style>

<div class="subs_qure-new">
    {% form 'contact' %}
        {% if form.posted_successfully? %}
            <p class="form-success">Thanks for contacting us.</p>
        {% endif %}

        <label for="">Get the latest from Qure</label>
        <div class="subs_qure-new-form d-inline-block position-relative">
            <input type="email" name="contact[email]" id="email" placeholder="Your Email" required>
            <button class="btn"><img src="{{ 'path.svg' | asset_url }}" alt=""></button>
        </div>
    {% endform %}
</div>