<style>
    .subs_qure-new button {
        position: relative !important;
    }
</style>

<div class="subs_qure-new">
    <label for="">Get the latest from Qure</label>
    <div class="subs_qure-new-form d-inline-block position-relative">
        <div class="klaviyo-form-YpweK2"></div>
    </div>
</div>