<div class="blog_wrap-new1 blog_wrap pb-0">
    <div>
        <img src="{{ 'blog_recommend_2.webp' | asset_url }}" class="img-fluid d-none d-md-block" alt="">
        <img src="{{ 'blog_recommend_2-Mob.webp' | asset_url }}" alt="" class="img-fluid d-md-none">
    </div>
    <div class="p-md-0 p-3 pb-md-0 pb-4">
        <p class="mb-3">Learn more and share your skincare journey</p>
        <a href="https://www.facebook.com/Qureskincare/" class="btn text-decoration-none text-white btn-primary blog_btn w-auto px-3">Join Our VIP Community</a>
    </div>
</div>