<div class="tab-pane fade" id="rtLM-pills-4" role="tabpanel" aria-labelledby="rtLM-pills-4-tab">
    <div class="skin_item d-none d-md-grid">
        <div class="row">
            <div class="col-md-5">
                <ul class="nav nav-pills mb-3" id="rtLMInner4-pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="rtLMInner4-pills1-tab"
                            data-bs-toggle="pill" data-bs-target="#rtLMInner4-pills-1"
                            type="button" role="tab" aria-controls="rtLMInner4-pills-1"
                            aria-selected="true">
                            <h5><img src="https://qureskincaredns.com/new/assets/lm_desc.svg" alt="">Product Description</h5>
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="rtLMInner4-pills2-tab"
                            data-bs-toggle="pill" data-bs-target="#rtLMInner4-pills-2"
                            type="button" role="tab" aria-controls="rtLMInner4-pills-2"
                            aria-selected="false">
                            <h5><img src="https://qureskincaredns.com/new/assets/lm_benefits.svg" alt="">Benefits</h5>
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="rtLMInner4-pills3-tab"
                            data-bs-toggle="pill" data-bs-target="#rtLMInner4-pills-3"
                            type="button" role="tab" aria-controls="rtLMInner4-pills-3"
                            aria-selected="false">
                            <h5><img src="https://qureskincaredns.com/new/assets/lm_use.svg" alt="">How to use</h5>
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="rtLMInner4-pills4-tab"
                            data-bs-toggle="pill" data-bs-target="#rtLMInner4-pills-4"
                            type="button" role="tab" aria-controls="rtLMInner4-pills-4"
                            aria-selected="false">
                            <h5><img src="https://qureskincaredns.com/new/assets/lm_faq.svg" alt="">Frequently asked questions
                            </h5>
                        </button>
                    </li>
                </ul>
            </div>
            <div class="col-md-7">
                <div class="tab-content rt_content_inner" id="rtLMInner4-pills-tabContent">
                    <div class="tab-pane fade show active" id="rtLMInner4-pills-1"
                        role="tabpanel" aria-labelledby="rtLMInner4-pills1-tab">
                        <div class="rt_content_inner_info">
                            <h6>Micro-Infusion Targeted Patches</h6>
                            <p>Target specific areas and combat multiple concerns with the Qure
                                Micro-Infusion Patches, designed to reduce fine lines, wrinkles,
                                dark circles, puffiness, and under-eye bags. These innovative
                                patches use advanced micro-dart technology to deliver anti-aging
                                ingredients directly to the source.</p>
                            <p>As thin gentle as a hair yet as powerful as a needle, each
                                micro-dart
                                painlessly penetrates the skin to deliver nutrients where
                                they’ll be absorbed at maximum potential. The patches begin
                                self-dissolving upon contact, allowing for powerful, glowing
                                results in as little as two hours.</p>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="rtLMInner4-pills-2" role="tabpanel"
                        aria-labelledby="rtLMInner4-pills2-tab">
                        <div class="rt_content_inner_info">
                            <div class="ss_list">
                                <ul>
                                    <li>80 micro-darts filled with potent anti-aging and
                                        brightening ingredients that melt into the skin for deep
                                        absorption.</li>
                                    <li>Gradually dissolves upon contact, releasing a precise
                                        dose of ingredients directly into the skin.</li>
                                    <li>Forms an occlusive layer within two hours, locking in
                                        the ingredients for fast, visible results.</li>
                                    <li>Targets wrinkles, fine lines, dark circles, and more
                                        with ultra-thin micro-darts that penetrate the skin for
                                        deeper, faster delivery.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="rtLMInner4-pills-3" role="tabpanel"
                        aria-labelledby="rtLMInner4-pills3-tab">
                        <div class="rt_content_inner_info">
                            <div class="ss_list">
                                <ul>
                                    <li>Wash and dry your face thoroughly, removing all makeup.
                                    </li>
                                    <li>Apply the patch on the desired area (11 lines, Crow’s
                                        feet, under-eye area, or smile lines) with the adhesive
                                        side facing down.</li>
                                    <li>Gently press the patch for 5-10 seconds to secure it in
                                        place.</li>
                                    <li>Use 1-2 times per week for a minimum of two hours. For
                                        best results, leave them on overnight.</li>
                                    <li>In the morning, peel off the patches gently, wash your
                                        face, and continue with your regular skincare routine.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="rtLMInner4-pills-4" role="tabpanel"
                        aria-labelledby="rtLMInner4-pills4-tab">
                        <div class="rt_content_inner_info">
                            <div class="faq p-0">
                                <div class="accordion" id="accordionExample4">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed"
                                                type="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapseThree4"
                                                aria-expanded="false"
                                                aria-controls="collapseThree4">
                                                <div class="container">Is there any discomfort
                                                    when using the patches?</div>
                                            </button>
                                        </h2>
                                        <div id="collapseThree4"
                                            class="accordion-collapse collapse"
                                            data-bs-parent="#accordionExample4">
                                            <div class="accordion-body">
                                                <div class="container">
                                                    <p>None whatsoever! You may feel a slight
                                                        prickly sensation when pressing the
                                                        micro-darts onto your skin, but the
                                                        patches are designed to penetrate deeply
                                                        without causing pain or downtime.</p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button" type="button"
                                                data-bs-toggle="collapse"
                                                data-bs-target="#collapseOne4"
                                                aria-expanded="true"
                                                aria-controls="collapseOne4">
                                                <div class="container">How many patches come per
                                                    box?</div>
                                            </button>
                                        </h2>
                                        <div id="collapseOne4"
                                            class="accordion-collapse collapse show"
                                            data-bs-parent="#accordionExample4">
                                            <div class="accordion-body">
                                                <div class="container">
                                                    <p>Each box contains 8 patches (pairs),
                                                        offering a one-month supply when used
                                                        1-2 times per week.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed"
                                                type="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapseTwo4"
                                                aria-expanded="false"
                                                aria-controls="collapseTwo4">
                                                <div class="container">How long should I apply
                                                    the patches for?</div>
                                            </button>
                                        </h2>
                                        <div id="collapseTwo4"
                                            class="accordion-collapse collapse"
                                            data-bs-parent="#accordionExample4">
                                            <div class="accordion-body">
                                                <div class="container">
                                                    <p>For optimal results, wear the patches for
                                                        at least two hours. For maximum
                                                        effectiveness, leave them on overnight
                                                        to allow the serum ample time to
                                                        dissolve and penetrate the skin.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed"
                                                type="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapseFour4"
                                                aria-expanded="false"
                                                aria-controls="collapseFour4">
                                                <div class="container">Are they safe?</div>
                                            </button>
                                        </h2>
                                        <div id="collapseFour4"
                                            class="accordion-collapse collapse"
                                            data-bs-parent="#accordionExample4">
                                            <div class="accordion-body">
                                                <div class="container">
                                                    <p>Absolutely! Our patches undergo rigorous
                                                        dermatological testing in a
                                                        state-of-the-art facility in South
                                                        Korea. They are safe for most skin
                                                        types. For sensitive skin, we recommend
                                                        a patch test before use. Avoid using on
                                                        open wounds, cuts, or irritated skin.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed"
                                                type="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapseFive4"
                                                aria-expanded="false"
                                                aria-controls="collapseFive4">
                                                <div class="container">Can I use the patches
                                                    while pregnant or breastfeeding?</div>
                                            </button>
                                        </h2>
                                        <div id="collapseFive4"
                                            class="accordion-collapse collapse"
                                            data-bs-parent="#accordionExample4">
                                            <div class="accordion-body">
                                                <div class="container">
                                                    <p>Yes! Many choose Qure patches as a safer
                                                        alternative to injectables and other
                                                        stronger anti-aging treatments during
                                                        pregnancy or breastfeeding. However, we
                                                        recommend consulting a medical
                                                        professional before use.</p>
                                                    <p>How are they packaged?<br>
                                                        Each Micro-Infusion Patch (pair) is
                                                        individually sealed in a container and
                                                        wrapped in a protective foil pouch to
                                                        prevent contamination and lock in
                                                        moisture.</p>
                                                    <p>Are they suitable just for around the
                                                        eyes?<br>
                                                        No, the Micro-Infusion Patches can
                                                        target various areas of concern. Use
                                                        them on under-eye areas, Crow’s feet,
                                                        smile lines, or even frown lines.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="skin_item skin_item_accordion faq d-block d-md-none">
        <div class="accordion" id="rtLM-acc-4">
            <div class="accordion-item">
                <h2 class="accordion-header" id="rtLM-acc-4-hOne">
                    <button class="accordion-button rtLM-acc-btn" type="button"
                        data-bs-toggle="collapse" data-bs-target="#rtLM-acc-4-cOne"
                        aria-expanded="true" aria-controls="rtLM-acc-4-cOne">
                        <div class="container">
                            <h5>
                                <img src="https://qureskincaredns.com/new/assets/lm_desc.svg" alt="">Product
                                Description
                            </h5>
                        </div>
                    </button>
                </h2>
                <div id="rtLM-acc-4-cOne" class="accordion-collapse collapse show"
                    aria-labelledby="rtLM-acc-4-hOne" data-bs-parent="#rtLM-acc-4">
                    <div class="accordion-body">
                        <div class="rt_content_inner_info">
                            <p>Target specific areas and combat multiple concerns with the Qure
                                Micro-Infusion Patches, designed to reduce fine lines, wrinkles,
                                dark circles, puffiness, and under-eye bags. These innovative
                                patches use advanced micro-dart technology to deliver anti-aging
                                ingredients directly to the source.</p>

                            <p>gentle as a hair yet as powerful as a needle, each micro-dart
                                painlessly penetrates the skin to deliver nutrients where
                                they’ll be absorbed at maximum potential. The patches begin
                                self-dissolving upon contact, allowing for powerful, glowing
                                results in as little as two hours.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="rtLM-acc-4-hTwo">
                    <button class="accordion-button collapsed rtLM-acc-btn" type="button"
                        data-bs-toggle="collapse" data-bs-target="#rtLM-acc-4-cTwo"
                        aria-expanded="false" aria-controls="rtLM-acc-4-cTwo">
                        <div class="container">
                            <h5><img src="https://qureskincaredns.com/new/assets/lm_benefits.svg" alt="">Benefits</h5>
                        </div>
                    </button>
                </h2>
                <div id="rtLM-acc-4-cTwo" class="accordion-collapse collapse"
                    aria-labelledby="rtLM-acc-4-hTwo" data-bs-parent="#rtLM-acc-4">
                    <div class="accordion-body">
                        <div class="rt_content_inner_info">
                            <div class="ss_list">
                                <ul>
                                    <li>80 micro-darts filled with potent anti-aging and
                                        brightening ingredients that melt into the skin for deep
                                        absorption.</li>
                                    <li>Gradually dissolves upon contact, releasing a precise
                                        dose of ingredients directly into the skin.</li>
                                    <li>Forms an occlusive layer within two hours, locking in
                                        the ingredients for fast, visible results.</li>
                                    <li>Targets wrinkles, fine lines, dark circles, and more
                                        with ultra-thin micro-darts that penetrate the skin for
                                        deeper, faster delivery.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="rtLM-acc-4-hThree">
                    <button class="accordion-button collapsed rtLM-acc-btn" type="button"
                        data-bs-toggle="collapse" data-bs-target="#rtLM-acc-4-cThree"
                        aria-expanded="false" aria-controls="rtLM-acc-4-cThree">
                        <div class="container">
                            <h5><img src="https://qureskincaredns.com/new/assets/lm_use.svg" alt="">How to
                                use</h5>
                        </div>
                    </button>
                </h2>
                <div id="rtLM-acc-4-cThree" class="accordion-collapse collapse"
                    aria-labelledby="rtLM-acc-4-hThree" data-bs-parent="#rtLM-acc-4">
                    <div class="accordion-body">
                        <div class="rt_content_inner_info">
                            <div class="ss_list">
                                <ul>
                                    <li>Wash and dry your face thoroughly, removing all makeup.
                                    </li>
                                    <li>Apply the patch on the desired area (11 lines, Crow’s
                                        feet, under-eye area, or smile lines) with the adhesive
                                        side facing down.</li>
                                    <li>Gently press the patch for 5-10 seconds to secure it in
                                        place.</li>
                                    <li>Use 1-2 times per week for a minimum of two hours. For
                                        best results, leave them on overnight.</li>
                                    <li>In the morning, peel off the patches gently, wash your
                                        face, and continue with your regular skincare routine.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="rtLM-acc-4-hFour">
                    <button class="accordion-button collapsed rtLM-acc-btn" type="button"
                        data-bs-toggle="collapse" data-bs-target="#rtLM-acc-4-cFour"
                        aria-expanded="false" aria-controls="rtLM-acc-4-cFour">
                        <div class="container">
                            <h5><img src="https://qureskincaredns.com/new/assets/lm_faq.svg" alt="">Frequently
                                asked
                                questions
                            </h5>
                        </div>
                    </button>
                </h2>
                <div id="rtLM-acc-4-cFour" class="accordion-collapse collapse"
                    aria-labelledby="rtLM-acc-4-hFour" data-bs-parent="#rtLM-acc-4">
                    <div class="accordion-body faq_section">
                        <div class="faq p-0">
                            <div class="accordion" id="accMobFAQ4">
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#accMobFAQ4cThree"
                                            aria-expanded="false"
                                            aria-controls="accMobFAQ4cThree">
                                            <div class="container">Is there any discomfort when
                                                using the patches?</div>
                                        </button>
                                    </h2>
                                    <div id="accMobFAQ4cThree"
                                        class="accordion-collapse collapse"
                                        data-bs-parent="#accMobFAQ4">
                                        <div class="accordion-body">
                                            <div class="container">
                                                <p>None whatsoever! You may feel a slight
                                                    prickly sensation when pressing the
                                                    micro-darts onto your skin, but the patches
                                                    are designed to penetrate deeply without
                                                    causing pain or downtime.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button" type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#accMobFAQ4cOne"
                                            aria-expanded="true" aria-controls="accMobFAQ4cOne">
                                            <div class="container">How many patches come per
                                                box?</div>
                                        </button>

                                    </h2>
                                    <div id="accMobFAQ4cOne"
                                        class="accordion-collapse collapse show"
                                        data-bs-parent="#accMobFAQ4">
                                        <div class="accordion-body">
                                            <div class="container">
                                                <p>Each box contains 8 patches (pairs), offering
                                                    a one-month supply when used 1-2 times per
                                                    week.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#accMobFAQ4cTwo"
                                            aria-expanded="false"
                                            aria-controls="accMobFAQ4cTwo">
                                            <div class="container">How long should I apply the
                                                patches for?</div>
                                        </button>
                                    </h2>
                                    <div id="accMobFAQ4cTwo" class="accordion-collapse collapse"
                                        data-bs-parent="#accMobFAQ4">
                                        <div class="accordion-body">
                                            <div class="container">
                                                <p>For optimal results, wear the patches for at
                                                    least two hours. For maximum effectiveness,
                                                    leave them on overnight to allow the serum
                                                    ample time to dissolve and penetrate the
                                                    skin.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#accMobFAQ4cFour"
                                            aria-expanded="false"
                                            aria-controls="accMobFAQ4cFour">
                                            <div class="container">Are they safe?</div>
                                        </button>
                                    </h2>
                                    <div id="accMobFAQ4cFour"
                                        class="accordion-collapse collapse"
                                        data-bs-parent="#accMobFAQ4">
                                        <div class="accordion-body">
                                            <div class="container">
                                                <p>Absolutely! Our patches undergo rigorous
                                                    dermatological testing in a state-of-the-art
                                                    facility in South Korea. They are safe for
                                                    most skin types. For sensitive skin, we
                                                    recommend a patch test before use. Avoid
                                                    using on open wounds, cuts, or irritated
                                                    skin.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#accMobFAQ4cFive"
                                            aria-expanded="false"
                                            aria-controls="accMobFAQ4cFive">
                                            <div class="container">Can I use the patches while
                                                pregnant or breastfeeding?</div>
                                        </button>
                                    </h2>
                                    <div id="accMobFAQ4cFive"
                                        class="accordion-collapse collapse"
                                        data-bs-parent="#accMobFAQ4">
                                        <div class="accordion-body">
                                            <div class="container">
                                                <p>Yes! Many choose Qure patches as a safer
                                                    alternative to injectables and other
                                                    stronger anti-aging treatments during
                                                    pregnancy or breastfeeding. However, we
                                                    recommend consulting a medical professional
                                                    before use.</p>
                                                <p>How are they packaged?
                                                    Each Micro-Infusion Patch (pair) is
                                                    individually sealed in a container and
                                                    wrapped in a protective foil pouch to
                                                    prevent contamination and lock in moisture.
                                                </p>
                                                <p>Are they suitable just for around the eyes?
                                                    No, the Micro-Infusion Patches can target
                                                    various areas of concern. Use them on
                                                    under-eye areas, Crow’s feet, smile lines,
                                                    or even frown lines.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tab-pane fade" id="rtLM-pills-5" role="tabpanel" aria-labelledby="rtLM-pills-5-tab">
    <div class="skin_item d-none d-md-grid">
        <div class="row">
            <div class="col-md-5">
                <ul class="nav nav-pills mb-3" id="rtLMInner6-pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="rtLMInner6-pills1-tab"
                            data-bs-toggle="pill" data-bs-target="#rtLMInner6-pills-1"
                            type="button" role="tab" aria-controls="rtLMInner6-pills-1"
                            aria-selected="true">
                            <h5><img src="https://qureskincaredns.com/new/assets/lm_desc.svg" alt="">Product Description</h5>
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="rtLMInner6-pills2-tab"
                            data-bs-toggle="pill" data-bs-target="#rtLMInner6-pills-2"
                            type="button" role="tab" aria-controls="rtLMInner6-pills-2"
                            aria-selected="false">
                            <h5><img src="https://qureskincaredns.com/new/assets/lm_benefits.svg" alt="">Benefits</h5>
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="rtLMInner6-pills3-tab"
                            data-bs-toggle="pill" data-bs-target="#rtLMInner6-pills-3"
                            type="button" role="tab" aria-controls="rtLMInner6-pills-3"
                            aria-selected="false">
                            <h5><img src="https://qureskincaredns.com/new/assets/lm_use.svg" alt="">How to use</h5>
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="rtLMInner6-pills4-tab"
                            data-bs-toggle="pill" data-bs-target="#rtLMInner6-pills-4"
                            type="button" role="tab" aria-controls="rtLMInner6-pills-4"
                            aria-selected="false">
                            <h5><img src="https://qureskincaredns.com/new/assets/lm_faq.svg" alt="">Frequently asked questions
                            </h5>
                        </button>
                    </li>
                </ul>
            </div>
            <div class="col-md-7">
                <div class="tab-content rt_content_inner" id="rtLMInner6-pills-tabContent">
                    <div class="tab-pane fade show active" id="rtLMInner6-pills-1"
                        role="tabpanel" aria-labelledby="rtLMInner6-pills1-tab">
                        <div class="rt_content_inner_info">
                            <h6>Neck & Décolletage LED Device</h6>
                            <p>At-home LED light therapy device that goes beyond the face for a
                                targeted skin treatment. Utilizes a combination of infrared and
                                near-infrared light wavelengths to treat multiple skin concerns
                                and signs of aging on the neck and chest area.</p>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="rtLMInner6-pills-2" role="tabpanel"
                        aria-labelledby="rtLMInner6-pills2-tab">
                        <div class="rt_content_inner_info">
                            <div class="ss_list">
                                <ul>
                                    <li>Reduces fine lines & wrinkles</li>
                                    <li>Rejuvenates dark spots & sun-damaged skin</li>
                                    <li>Increases hydration & brightens the skin</li>
                                    <li>Promotes healthier, younger-looking skin</li>
                                    <li>Diminishes the appearance of pigmentation</li>
                                    <li>Backed by science and clinical research</li>
                                    <li>Quick daily treatment in just 10 minutes</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="rtLMInner6-pills-3" role="tabpanel"
                        aria-labelledby="rtLMInner6-pills3-tab">
                        <div class="rt_content_inner_info">
                            <div class="ss_list">
                                <ul>
                                    <li>Cleanse and dry your skin to prepare it for ultimate LED
                                        light absorption. Secure the device around your neck
                                        using the adjustable velcro straps.</li>
                                    <li>Press & hold to start your 10-minute treatment. With a
                                        hands-free controller & clip-on, you can either relax or
                                        go about your day.</li>
                                    <li>The device will automatically shut off after 10 minutes.
                                        Remove the device and gently wipe it down. Follow up
                                        with your normal skincare routine. That’s it!</li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="rtLMInner6-pills-4" role="tabpanel"
                        aria-labelledby="rtLMInner6-pills4-tab">
                        <div class="rt_content_inner_info">
                            <div class="faq p-0">
                                <div class="accordion" id="accordionExample6">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed"
                                                type="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapseThree6"
                                                aria-expanded="false"
                                                aria-controls="collapseThree6">
                                                <div class="container">What are the wavelengths?
                                                    How many LED lights does it have?</div>
                                            </button>
                                        </h2>
                                        <div id="collapseThree6"
                                            class="accordion-collapse collapse"
                                            data-bs-parent="#accordionExample6">
                                            <div class="accordion-body">
                                                <div class="container">
                                                    <p>Two clinically proven wavelengths of
                                                        light (red 633 nm and near-infrared 830
                                                        nm) work on a cellular level to
                                                        stimulate new collagen, reduce fine
                                                        lines and wrinkles, and reduce sun
                                                        damage and the visible signs of aging.
                                                    </p>
                                                    <ul>
                                                        <li>LEDs: 55 Dual-core LEDs</li>
                                                        <li>Wavelengths: 630 nm, 830 nm (Red and
                                                            InfraRed)</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button" type="button"
                                                data-bs-toggle="collapse"
                                                data-bs-target="#collapseOne6"
                                                aria-expanded="true"
                                                aria-controls="collapseOne6">
                                                <div class="container">How often should I use it
                                                    for optimal results?</div>
                                            </button>
                                        </h2>
                                        <div id="collapseOne6"
                                            class="accordion-collapse collapse show"
                                            data-bs-parent="#accordionExample6">
                                            <div class="accordion-body">
                                                <div class="container">
                                                    <p>For best results, we recommend using the
                                                        device 5-7 times a week. Each session
                                                        only lasts 10 minutes. Visible results
                                                        may vary, but improvements can be seen
                                                        within 4 weeks of consistent use. More
                                                        significant changes can be seen over
                                                        several months.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed"
                                                type="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapseTwo6"
                                                aria-expanded="false"
                                                aria-controls="collapseTwo6">
                                                <div class="container">How long is the
                                                    treatment?</div>
                                            </button>
                                        </h2>
                                        <div id="collapseTwo6"
                                            class="accordion-collapse collapse"
                                            data-bs-parent="#accordionExample6">
                                            <div class="accordion-body">
                                                <div class="container">
                                                    <p>Just 10 minutes! A one and a half hour
                                                        charge can deliver up to 7 to 8
                                                        treatments.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed"
                                                type="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapseFour6"
                                                aria-expanded="false"
                                                aria-controls="collapseFour6">
                                                <div class="container">Is it safe for all skin
                                                    types?</div>
                                            </button>
                                        </h2>
                                        <div id="collapseFour6"
                                            class="accordion-collapse collapse"
                                            data-bs-parent="#accordionExample6">
                                            <div class="accordion-body">
                                                <div class="container">
                                                    <p>Yes, this device is safe for all skin
                                                        types. It is non-invasive and gentle on
                                                        the skin. However, if you have specific
                                                        skin conditions, we recommend consulting
                                                        with a dermatologist before use.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed"
                                                type="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapseFive6"
                                                aria-expanded="false"
                                                aria-controls="collapseFive6">
                                                <div class="container">How do I charge the
                                                    device?</div>
                                            </button>
                                        </h2>
                                        <div id="collapseFive6"
                                            class="accordion-collapse collapse"
                                            data-bs-parent="#accordionExample6">
                                            <div class="accordion-body">
                                                <div class="container">
                                                    <p>Charge the Neck & Décolletage device
                                                        fully for 4 hours before your first use.
                                                        Only use a 5V adapter or computer USB
                                                        port. Please avoid fast chargers as they
                                                        can damage the battery.<br>
                                                        To charge the device, insert the USB-C
                                                        cable into the controller. Insert the
                                                        USB-A side of the cable into a USB power
                                                        supply. When the controller is charging,
                                                        the LED indicator on the controller
                                                        flashes white, and when the controller
                                                        is fully charged, the indicator will be
                                                        steady white.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="skin_item skin_item_accordion faq d-block d-md-none">
        <div class="accordion" id="rtLM-acc-5">
            <div class="accordion-item">
                <h2 class="accordion-header" id="rtLM-acc-5-hOne">
                    <button class="accordion-button rtLM-acc-btn" type="button"
                        data-bs-toggle="collapse" data-bs-target="#rtLM-acc-5-cOne"
                        aria-expanded="true" aria-controls="rtLM-acc-5-cOne">
                        <div class="container">
                            <h5>
                                <img src="https://qureskincaredns.com/new/assets/lm_desc.svg" alt="">Product
                                Description
                            </h5>
                        </div>
                    </button>
                </h2>
                <div id="rtLM-acc-5-cOne" class="accordion-collapse collapse show"
                    aria-labelledby="rtLM-acc-5-hOne" data-bs-parent="#rtLM-acc-5">
                    <div class="accordion-body">
                        <div class="rt_content_inner_info">
                            <p>At-home LED light therapy device that goes beyond the face for a
                                targeted skin treatment. Utilizes a combination of infrared and
                                near-infrared light wavelengths to treat multiple skin concerns
                                and signs of aging on the neck and chest area.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="rtLM-acc-5-hTwo">
                    <button class="accordion-button collapsed rtLM-acc-btn" type="button"
                        data-bs-toggle="collapse" data-bs-target="#rtLM-acc-5-cTwo"
                        aria-expanded="false" aria-controls="rtLM-acc-5-cTwo">
                        <div class="container">
                            <h5><img src="https://qureskincaredns.com/new/assets/lm_benefits.svg" alt="">Benefits</h5>
                        </div>
                    </button>
                </h2>
                <div id="rtLM-acc-5-cTwo" class="accordion-collapse collapse"
                    aria-labelledby="rtLM-acc-5-hTwo" data-bs-parent="#rtLM-acc-5">
                    <div class="accordion-body">
                        <div class="rt_content_inner_info">
                            <div class="ss_list">
                                <ul>
                                    <li>Reduces fine lines &amp; wrinkles</li>
                                    <li>Rejuvenates dark spots &amp; sun-damaged skin</li>
                                    <li>Increases hydration &amp; brightens the skin</li>
                                    <li>Promotes healthier, younger-looking skin</li>
                                    <li>Diminishes the appearance of pigmentation</li>
                                    <li>Backed by science and clinical research</li>
                                    <li>Quick daily treatment in just 10 minutes</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="rtLM-acc-5-hThree">
                    <button class="accordion-button collapsed rtLM-acc-btn" type="button"
                        data-bs-toggle="collapse" data-bs-target="#rtLM-acc-5-cThree"
                        aria-expanded="false" aria-controls="rtLM-acc-5-cThree">
                        <div class="container">
                            <h5><img src="https://qureskincaredns.com/new/assets/lm_use.svg" alt="">How to
                                use</h5>
                        </div>
                    </button>
                </h2>
                <div id="rtLM-acc-5-cThree" class="accordion-collapse collapse"
                    aria-labelledby="rtLM-acc-5-hThree" data-bs-parent="#rtLM-acc-5">
                    <div class="accordion-body">
                        <div class="rt_content_inner_info">
                            <div class="ss_list">
                                <ul>
                                    <li>Cleanse and dry your skin to prepare it for ultimate LED
                                        light absorption. Secure the device around your neck
                                        using the adjustable velcro straps.</li>
                                    <li>Press &amp; hold to start your 10-minute treatment. With
                                        a
                                        hands-free controller &amp; clip-on, you can either
                                        relax or
                                        go about your day.</li>
                                    <li>The device will automatically shut off after 10 minutes.
                                        Remove the device and gently wipe it down. Follow up
                                        with your normal skincare routine. That’s it!</li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="rtLM-acc-5-hFour">
                    <button class="accordion-button collapsed rtLM-acc-btn" type="button"
                        data-bs-toggle="collapse" data-bs-target="#rtLM-acc-5-cFour"
                        aria-expanded="false" aria-controls="rtLM-acc-5-cFour">
                        <div class="container">
                            <h5><img src="https://qureskincaredns.com/new/assets/lm_faq.svg" alt="">Frequently
                                asked
                                questions
                            </h5>
                        </div>
                    </button>
                </h2>
                <div id="rtLM-acc-5-cFour" class="accordion-collapse collapse"
                    aria-labelledby="rtLM-acc-5-hFour" data-bs-parent="#rtLM-acc-5">
                    <div class="accordion-body faq_section">
                        <div class="faq p-0">
                            <div class="accordion" id="accMobFAQ5">
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#accMobFAQ5cThree"
                                            aria-expanded="false"
                                            aria-controls="accMobFAQ5cThree">
                                            <div class="container">What are the wavelengths? How
                                                many LED lights does it have?</div>
                                        </button>
                                    </h2>
                                    <div id="accMobFAQ5cThree"
                                        class="accordion-collapse collapse"
                                        data-bs-parent="#accMobFAQ5">
                                        <div class="accordion-body">
                                            <div class="container">
                                                <p>Two clinically proven wavelengths of light
                                                    (red 633 nm and near-infrared 830 nm) work
                                                    on a cellular level to stimulate new
                                                    collagen, reduce fine lines and wrinkles,
                                                    and reduce sun damage and the visible signs
                                                    of aging.</p>
                                                <ul>
                                                    <li>LEDs: 55 Dual-core LEDs
                                                    <li>
                                                    <li>Wavelengths: 630 nm, 830 nm (Red and
                                                        InfraRed)</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button" type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#accMobFAQ5cOne"
                                            aria-expanded="true" aria-controls="accMobFAQ5cOne">
                                            <div class="container">How often should I use it for
                                                optimal results?</div>
                                        </button>

                                    </h2>
                                    <div id="accMobFAQ5cOne"
                                        class="accordion-collapse collapse show"
                                        data-bs-parent="#accMobFAQ5">
                                        <div class="accordion-body">
                                            <div class="container">
                                                <p>For best results, we recommend using the
                                                    device 5-7 times a week. Each session only
                                                    lasts 10 minutes. Visible results may vary,
                                                    but improvements can be seen within 4 weeks
                                                    of consistent use. More significant changes
                                                    can be seen over several months.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#accMobFAQ5cTwo"
                                            aria-expanded="false"
                                            aria-controls="accMobFAQ5cTwo">
                                            <div class="container">How long is the treatment?
                                            </div>
                                        </button>
                                    </h2>
                                    <div id="accMobFAQ5cTwo" class="accordion-collapse collapse"
                                        data-bs-parent="#accMobFAQ5">
                                        <div class="accordion-body">
                                            <div class="container">
                                                <p>Just 10 minutes! A one and a half hour charge
                                                    can deliver up to 7 to 8 treatments.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#accMobFAQ5cFour"
                                            aria-expanded="false"
                                            aria-controls="accMobFAQ5cFour">
                                            <div class="container">Is it safe for all skin
                                                types?</div>
                                        </button>
                                    </h2>
                                    <div id="accMobFAQ5cFour"
                                        class="accordion-collapse collapse"
                                        data-bs-parent="#accMobFAQ5">
                                        <div class="accordion-body">
                                            <div class="container">
                                                <p>Yes, this device is safe for all skin types.
                                                    It is non-invasive and gentle on the skin.
                                                    However, if you have specific skin
                                                    conditions, we recommend consulting with a
                                                    dermatologist before use.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#accMobFAQ5cFive"
                                            aria-expanded="false"
                                            aria-controls="accMobFAQ5cFive">
                                            <div class="container">How do I charge the device?
                                            </div>
                                        </button>
                                    </h2>
                                    <div id="accMobFAQ5cFive"
                                        class="accordion-collapse collapse"
                                        data-bs-parent="#accMobFAQ5">
                                        <div class="accordion-body">
                                            <div class="container">
                                                <p>Charge the Neck & Décolletage device fully
                                                    for 4 hours before your first use. Only use
                                                    a 5V adapter or computer USB port. Please
                                                    avoid fast chargers as they can damage the
                                                    battery.</p>
                                                <p>To charge the device, insert the USB-C cable
                                                    into the controller. Insert the USB-A side
                                                    of the cable into a USB power supply. When
                                                    the controller is charging, the LED
                                                    indicator on the controller flashes white,
                                                    and when the controller is fully charged,
                                                    the indicator will be steady white.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tab-pane fade" id="rtLM-pills-6" role="tabpanel" aria-labelledby="rtLM-pills-6-tab">
    <div class="skin_item d-none d-md-grid">
        <div class="row">
            <div class="col-md-5">
                <ul class="nav nav-pills mb-3" id="rtLMInner5-pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="rtLMInner5-pills1-tab"
                            data-bs-toggle="pill" data-bs-target="#rtLMInner5-pills-1"
                            type="button" role="tab" aria-controls="rtLMInner5-pills-1"
                            aria-selected="true">
                            <h5><img src="https://qureskincaredns.com/new/assets/lm_desc.svg" alt="">Product Description</h5>
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="rtLMInner5-pills2-tab"
                            data-bs-toggle="pill" data-bs-target="#rtLMInner5-pills-2"
                            type="button" role="tab" aria-controls="rtLMInner5-pills-2"
                            aria-selected="false">
                            <h5><img src="https://qureskincaredns.com/new/assets/lm_benefits.svg" alt="">Benefits</h5>
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="rtLMInner5-pills3-tab"
                            data-bs-toggle="pill" data-bs-target="#rtLMInner5-pills-3"
                            type="button" role="tab" aria-controls="rtLMInner5-pills-3"
                            aria-selected="false">
                            <h5><img src="https://qureskincaredns.com/new/assets/lm_use.svg" alt="">How to use</h5>
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="rtLMInner5-pills4-tab"
                            data-bs-toggle="pill" data-bs-target="#rtLMInner5-pills-4"
                            type="button" role="tab" aria-controls="rtLMInner5-pills-4"
                            aria-selected="false">
                            <h5><img src="https://qureskincaredns.com/new/assets/lm_faq.svg" alt="">Frequently asked questions
                            </h5>
                        </button>
                    </li>
                </ul>
            </div>
            <div class="col-md-7">
                <div class="tab-content rt_content_inner" id="rtLMInner5-pills-tabContent">
                    <div class="tab-pane fade show active" id="rtLMInner5-pills-1"
                        role="tabpanel" aria-labelledby="rtLMInner5-pills1-tab">
                        <div class="rt_content_inner_info">
                            <h6>Faucet & Shower Filters</h6>
                            <p>Get clearer, hydrated skin on tap with the Qure Faucet Filter.
                                Research shows tap water is often contaminated with over 320
                                chemicals, which can harm skin health. The Qure Faucet Filter
                                utilizes advanced filtering technology to reduce contaminants,
                                including calcium, magnesium, and chlorine, which are known to
                                impact skin negatively. This filter provides clean, purified
                                water that helps to improve skin hydration, reduce premature
                                aging, and decrease redness and irritation—making it ideal for
                                sensitive skin.</p>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="rtLMInner5-pills-2" role="tabpanel"
                        aria-labelledby="rtLMInner5-pills2-tab">
                        <div class="rt_content_inner_info">
                            <div class="ss_list">
                                <ul>
                                    <li>Boosts skin hydration and prevents premature aging</li>
                                    <li>Reduces appearance of wrinkles</li>
                                    <li>Decreases pore-clogging contaminants for clearer skin
                                    </li>
                                    <li>Reduces redness and irritation, perfect for sensitive
                                        skin</li>
                                    <li>Enhances the effectiveness of topical skincare products
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="rtLMInner5-pills-3" role="tabpanel"
                        aria-labelledby="rtLMInner5-pills3-tab">
                        <div class="rt_content_inner_info">
                            <div class="ss_list">
                                <ul>
                                    <li>Install the Qure Faucet Filter following the
                                        installation instructions below.</li>
                                    <li>Switch between Filtered Water Mode (indicated by “Q” on
                                        the toggle) and Tap Water Mode for regular water usage.
                                    </li>
                                    <li>Use filtered water for facial cleansing or mixing with
                                        facial masks to ensure skincare routines are free from
                                        harmful contaminants.</li>
                                    <li>Replace the filter cartridge every 3 months for optimal
                                        performance.</li>
                                    <li>For best results, use only clean, treated municipal tap
                                        water with temperatures between 5-38°C.</li>
                                </ul>
                                <p class="mt-2">Filter Installation:</p>
                                <ol>
                                    <li>Unscrew the aerator or rectifier from your faucet using
                                        the included bubbler</li>
                                    <li>Attach the appropriate adapter based on your faucet type
                                        (refer to the manual for guidance on choosing the
                                        correct adapter).</li>
                                    <li>Clip the filter onto the adapter, making sure it’s
                                        securely in place. You should hear two clicks when the
                                        filter is properly attached.</li>
                                </ol>
                            </div>

                        </div>
                    </div>
                    <div class="tab-pane fade" id="rtLMInner5-pills-4" role="tabpanel"
                        aria-labelledby="rtLMInner5-pills4-tab">
                        <div class="rt_content_inner_info">
                            <div class="faq p-0">
                                <div class="accordion" id="accordionExample5">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed"
                                                type="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapseThree5"
                                                aria-expanded="false"
                                                aria-controls="collapseThree5">
                                                <div class="container">What contaminants does
                                                    the filter remove?</div>
                                            </button>
                                        </h2>
                                        <div id="collapseThree5"
                                            class="accordion-collapse collapse"
                                            data-bs-parent="#accordionExample5">
                                            <div class="accordion-body">
                                                <div class="container">
                                                    <p>The Qure Faucet Filter reduces up to 99%
                                                        of chlorine, chloramine, and various
                                                        heavy metals like lead, which can cause
                                                        skin irritation and dryness. </p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button" type="button"
                                                data-bs-toggle="collapse"
                                                data-bs-target="#collapseOne5"
                                                aria-expanded="true"
                                                aria-controls="collapseOne5">
                                                <div class="container">How often should I
                                                    replace the filter cartridge?</div>
                                            </button>
                                        </h2>
                                        <div id="collapseOne5"
                                            class="accordion-collapse collapse show"
                                            data-bs-parent="#accordionExample5">
                                            <div class="accordion-body">
                                                <div class="container">
                                                    <p>Replace the filter cartridge every 3
                                                        months to maintain optimal performance
                                                        and ensure your water remains purified.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed"
                                                type="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapseTwo5"
                                                aria-expanded="false"
                                                aria-controls="collapseTwo5">
                                                <div class="container">Can I use this filter for
                                                    drinking water?</div>
                                            </button>
                                        </h2>
                                        <div id="collapseTwo5"
                                            class="accordion-collapse collapse"
                                            data-bs-parent="#accordionExample5">
                                            <div class="accordion-body">
                                                <div class="container">
                                                    <p>The Qure Faucet Filter is designed
                                                        specifically for skincare purposes. It
                                                        is not recommended for cooking,
                                                        drinking, or any other household uses
                                                        beyond skincare.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed"
                                                type="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapseFour5"
                                                aria-expanded="false"
                                                aria-controls="collapseFour5">
                                                <div class="container">Is the filter compatible
                                                    with all faucets?</div>
                                            </button>
                                        </h2>
                                        <div id="collapseFour5"
                                            class="accordion-collapse collapse"
                                            data-bs-parent="#accordionExample5">
                                            <div class="accordion-body">
                                                <div class="container">
                                                    <p>The filter fits most faucets with a
                                                        standard diameter between 15-24mm. It
                                                        includes multiple adapters to fit a
                                                        variety of faucet types; however, it may
                                                        not be compatible with certain faucets,
                                                        such as square or oval outlets and
                                                        faucets with built-in shower heads or
                                                        induction sensors.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="skin_item skin_item_accordion faq d-block d-md-none">
        <div class="accordion" id="rtLM-acc-6">
            <div class="accordion-item">
                <h2 class="accordion-header" id="rtLM-acc-6-hOne">
                    <button class="accordion-button rtLM-acc-btn" type="button"
                        data-bs-toggle="collapse" data-bs-target="#rtLM-acc-6-cOne"
                        aria-expanded="true" aria-controls="rtLM-acc-6-cOne">
                        <div class="container">
                            <h5>
                                <img src="https://qureskincaredns.com/new/assets/lm_desc.svg" alt="">Product
                                Description
                            </h5>
                        </div>
                    </button>
                </h2>
                <div id="rtLM-acc-6-cOne" class="accordion-collapse collapse show"
                    aria-labelledby="rtLM-acc-6-hOne" data-bs-parent="#rtLM-acc-6">
                    <div class="accordion-body">
                        <div class="rt_content_inner_info">
                            <p>Get clearer, hydrated skin on tap with the Qure Faucet Filter.
                                Research shows tap water is often contaminated with over 320
                                chemicals, which can harm skin health. The Qure Faucet Filter
                                utilizes advanced filtering technology to reduce contaminants,
                                including calcium, magnesium, and chlorine, which are known to
                                impact skin negatively. This filter provides clean, purified
                                water that helps to improve skin hydration, reduce premature
                                aging, and decrease redness and irritation—making it ideal for
                                sensitive skin.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="rtLM-acc-6-hTwo">
                    <button class="accordion-button collapsed rtLM-acc-btn" type="button"
                        data-bs-toggle="collapse" data-bs-target="#rtLM-acc-6-cTwo"
                        aria-expanded="false" aria-controls="rtLM-acc-6-cTwo">
                        <div class="container">
                            <h5><img src="https://qureskincaredns.com/new/assets/lm_benefits.svg" alt="">Benefits</h5>
                        </div>
                    </button>
                </h2>
                <div id="rtLM-acc-6-cTwo" class="accordion-collapse collapse"
                    aria-labelledby="rtLM-acc-6-hTwo" data-bs-parent="#rtLM-acc-6">
                    <div class="accordion-body">
                        <div class="rt_content_inner_info">
                            <div class="ss_list">
                                <ul>
                                    <li>Boosts skin hydration and prevents premature aging</li>
                                    <li>Reduces appearance of wrinkles</li>
                                    <li>Decreases pore-clogging contaminants for clearer skin
                                    </li>
                                    <li>Reduces redness and irritation, perfect for sensitive
                                        skin</li>
                                    <li>Enhances the effectiveness of topical skincare products
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="rtLM-acc-6-hThree">
                    <button class="accordion-button collapsed rtLM-acc-btn" type="button"
                        data-bs-toggle="collapse" data-bs-target="#rtLM-acc-6-cThree"
                        aria-expanded="false" aria-controls="rtLM-acc-6-cThree">
                        <div class="container">
                            <h5><img src="https://qureskincaredns.com/new/assets/lm_use.svg" alt="">How to
                                use</h5>
                        </div>
                    </button>
                </h2>
                <div id="rtLM-acc-6-cThree" class="accordion-collapse collapse"
                    aria-labelledby="rtLM-acc-6-hThree" data-bs-parent="#rtLM-acc-6">
                    <div class="accordion-body">
                        <div class="rt_content_inner_info">
                            <div class="ss_list">
                                <ul>
                                    <li>Install the Qure Faucet Filter following the
                                        installation instructions below.</li>
                                    <li>Switch between Filtered Water Mode (indicated by “Q” on
                                        the toggle) and Tap Water Mode for regular water usage.
                                    </li>
                                    <li>Use filtered water for facial cleansing or mixing with
                                        facial masks to ensure skincare routines are free from
                                        harmful contaminants.</li>
                                    <li>Replace the filter cartridge every 3 months for optimal
                                        performance.</li>
                                    <li>For best results, use only clean, treated municipal tap
                                        water with temperatures between 5-38°C.</li>
                                    <li>Filter Installation:</li>
                                </ul>
                                <ol>
                                    <li>Unscrew the aerator or rectifier from your faucet using
                                        the included bubbler</li>
                                    <li>Attach the appropriate adapter based on your faucet type
                                        (refer to the manual for guidance on choosing the
                                        correct adapter).</li>
                                    <li>Clip the filter onto the adapter, making sure it’s
                                        securely in place. You should hear two clicks when the
                                        filter is properly attached.</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="rtLM-acc-6-hFour">
                    <button class="accordion-button collapsed rtLM-acc-btn" type="button"
                        data-bs-toggle="collapse" data-bs-target="#rtLM-acc-6-cFour"
                        aria-expanded="false" aria-controls="rtLM-acc-6-cFour">
                        <div class="container">
                            <h5><img src="https://qureskincaredns.com/new/assets/lm_faq.svg" alt="">Frequently
                                asked
                                questions
                            </h5>
                        </div>
                    </button>
                </h2>
                <div id="rtLM-acc-6-cFour" class="accordion-collapse collapse"
                    aria-labelledby="rtLM-acc-6-hFour" data-bs-parent="#rtLM-acc-6">
                    <div class="accordion-body faq_section">
                        <div class="faq p-0">
                            <div class="accordion" id="accMobFAQ6">
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#accMobFAQ6cThree"
                                            aria-expanded="false"
                                            aria-controls="accMobFAQ6cThree">
                                            <div class="container">What contaminants does the
                                                filter remove?</div>
                                        </button>
                                    </h2>
                                    <div id="accMobFAQ6cThree"
                                        class="accordion-collapse collapse"
                                        data-bs-parent="#accMobFAQ6">
                                        <div class="accordion-body">
                                            <div class="container">
                                                <p>The Qure Faucet Filter reduces up to 99% of
                                                    chlorine, chloramine, and various heavy
                                                    metals like lead, which can cause skin
                                                    irritation and dryness.</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button" type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#accMobFAQ6cOne"
                                            aria-expanded="true" aria-controls="accMobFAQ6cOne">
                                            <div class="container">How often should I replace
                                                the filter cartridge?</div>
                                        </button>

                                    </h2>
                                    <div id="accMobFAQ6cOne"
                                        class="accordion-collapse collapse show"
                                        data-bs-parent="#accMobFAQ6">
                                        <div class="accordion-body">
                                            <div class="container">
                                                <p>Replace the filter cartridge every 3 months
                                                    to maintain optimal performance and ensure
                                                    your water remains purified.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#accMobFAQ6cTwo"
                                            aria-expanded="false"
                                            aria-controls="accMobFAQ6cTwo">
                                            <div class="container">Can I use this filter for
                                                drinking water?</div>
                                        </button>
                                    </h2>
                                    <div id="accMobFAQ6cTwo" class="accordion-collapse collapse"
                                        data-bs-parent="#accMobFAQ6">
                                        <div class="accordion-body">
                                            <div class="container">
                                                <p>The Qure Faucet Filter is designed
                                                    specifically for skincare purposes. It is
                                                    not recommended for cooking, drinking, or
                                                    any other household uses beyond skincare.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#accMobFAQ6cFour"
                                            aria-expanded="false"
                                            aria-controls="accMobFAQ6cFour">
                                            <div class="container">Is the filter compatible with
                                                all faucets?</div>
                                        </button>
                                    </h2>
                                    <div id="accMobFAQ6cFour"
                                        class="accordion-collapse collapse"
                                        data-bs-parent="#accMobFAQ6">
                                        <div class="accordion-body">
                                            <div class="container">
                                                <p>The filter fits most faucets with a standard
                                                    diameter between 15-24mm. It includes
                                                    multiple adapters to fit a variety of faucet
                                                    types; however, it may not be compatible
                                                    with certain faucets, such as square or oval
                                                    outlets and faucets with built-in shower
                                                    heads or induction sensors.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#accMobFAQ6cFive"
                                            aria-expanded="false"
                                            aria-controls="accMobFAQ6cFive">
                                            <div class="container">What skin types is
                                                Face Serum good for?</div>
                                        </button>
                                    </h2>
                                    <div id="accMobFAQ6cFive"
                                        class="accordion-collapse collapse"
                                        data-bs-parent="#accMobFAQ6">
                                        <div class="accordion-body">
                                            <div class="container">
                                                <p>Most skin types. Face serum is
                                                    fragrance-free, however we always
                                                    recommend doing
                                                    a patch test if you have sensitive
                                                    skin.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>