<div class="bf_bundle_sale">
    <div class="container">
        <div class="bf_bundle_item" id="bundle3">
            <div class="section_header pb-md-3 pb-0 mw-100 text-center">
                <h6 class="pb-3">experiencing breakouts?</h6>
                <div class="section_header_withLine">
                    <h2 class="title-lg">
                        Acne Bundles
                    </h2>
                </div>
                <p class="withLine_p">These bundles are specifically designed to clear acne and heal
                    post-breakout skin
                </p>
                <div class="bf_bundle_item_ftr mx-auto mt-3 mb-4 justify-content-center">
                    <div class="bf_bundle_item_ftr_item">
                        <img src="https://qureskincaredns.com/new/assets/bf-ftr-bacteria.svg" alt="" class="img-fluid">
                        <p class="d-none d-md-block">Eliminates bacteria <br>without irritating skin</p>
                        <p class="d-block d-md-none">Eliminates bacteria without irritating skin</p>
                    </div>
                    <div class="bf_bundle_item_ftr_item">
                        <img src="https://qureskincaredns.com/new/assets/bf-ftr-acne-pimples.svg" alt="" class="img-fluid">
                        <p class="d-none d-md-block">Clears acne, pimples, <br>and blemishes</p>
                        <p class="d-block d-md-none">Eliminates bacteria without irritating skin</p>
                    </div>
                    <div class="bf_bundle_item_ftr_item">
                        <img src="https://qureskincaredns.com/new/assets/bf-ftr-breakouts.svg" alt="" class="img-fluid">
                        <p class="d-none d-md-block">Prevents future breakouts<br> before they happen</p>
                        <p class="d-block d-md-none">Prevents future breakouts before they happen</p>
                    </div>
                    <div class="bf_bundle_item_ftr_item">
                        <img src="https://qureskincaredns.com/new/assets/bf-ftr-soothes.svg" alt="" class="img-fluid">
                        <p class="d-none d-md-block">Calms and soothes <br>redness</p>
                        <p class="d-block d-md-none">Calms and soothes redness </p>
                    </div>
                </div>
                <div class="bfs_main_banner swiperWrap">
                    
                    {% capture included %}
                        <div class="bfs_bf_item_tabs mt-4">
                            <ul class="nav nav-pills mb-3" id="pills-b3-s1-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="pills-included-b3-s1-tab"
                                        data-bs-toggle="pill" data-bs-target="#pills-included-b3-s1"
                                        type="button" role="tab" aria-controls="pills-included-b3-s1"
                                        aria-selected="true">What’s
                                        Included</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="pills-use-b3-s1-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-use-b3-s1" type="button" role="tab"
                                        aria-controls="pills-use-b3-s1" aria-selected="false">How to
                                        Use</button>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-b3-s1-tabContent">
                                <div class="tab-pane fade show active" id="pills-included-b3-s1" role="tabpanel"
                                    aria-labelledby="pills-included-b3-s1-tab">
                                    <div class="bfs_bf_item_tabContent">
                                        <div class="bfs_tabContent_bx text-start">
                                            <img src="https://qureskincaredns.com/new/assets/bfs_mask.webp" alt="" class="img-fluid">
                                            <div class="bfs_tbx_info">
                                                <div class="bfs_tbx_title">
                                                    Q-Rejuvalight Pro LED Mask 
                                                </div>
                                                <div class="bfs_tbx_lowStock">Low Stock <span>- 91
                                                        left</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="bfs_tabContent_bx text-start">
                                            <img src="https://qureskincaredns.com/new/assets/bfs_faucet.webp" alt=""
                                                class="img-fluid faucetImage">
                                            <div class="bfs_tbx_info">
                                                <div class="bfs_tbx_title">
                                                    Faucet Filter
                                                </div>
                                                <div class="bfs_tbx_lowStock">Low Stock <span>- 58
                                                        left</span>
                                                </div>
                                            </div>
                                            <div class="bfs_tbx_color">
                                                <select class="form-select colorSelectorFaucet"
                                                    aria-label="Default select example">
                                                    <option value="1" selected>White</option>
                                                    <option value="2">Black</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="bfs_tabContent_bx text-start">
                                            <img src="https://qureskincaredns.com/new/assets/bfs-derma-mist.webp" alt="" class="img-fluid">
                                            <div class="bfs_tbx_info">
                                                <div class="bfs_tbx_title">
                                                    Dermal Mist (120ml)
                                                </div>
                                            </div>
                                            <div class="popup-content">
                                                <button type="button" class="btn bfs_tbx_ing"
                                                    data-bs-toggle="modal" data-bs-target="#pop-b3-s1">
                                                    Ingredients List
                                                </button>
                                                <div class="modal fade" id="pop-b3-s1" data-bs-backdrop="static"
                                                    data-bs-keyboard="false" tabindex="-1"
                                                    aria-labelledby="pop-b3-s1Label" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="pop-b3-s1Label">
                                                                    Dermal Mist
                                                                </h5>
                                                                <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal"
                                                                    aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <p>Dermatologically Tested, Clinically Tested,
                                                                    Hypoallergenic, Suitable for sensitive skin,
                                                                    Dermatologist approved, Allergy Tested,
                                                                    Non-Irritating</p>
                                                                <h5 class="modal-title">
                                                                    Dermal Mist Ingredients List
                                                                </h5>
                                                                <p>WATER (Aqua)*, CHRYSANTHELLUM INDICUM FLOWER
                                                                    WATER, SODIUM CHLORIDE, SODIUM PHOSPHATE,
                                                                    DISODIUM PHOSPHATE, HYPOCHLOROUS ACID.
                                                                    *Ultra Pure Water.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade popup-content" id="pills-use-b3-s1" role="tabpanel"
                                    aria-labelledby="pills-use-b3-s1-tab">
                                    <div>
                                        <div class="swiper twa__swiper dot_pagination"
                                            id="twa__swiper-bfs_howUse-b3-s1" data-section-id="bfs_howUse-b3-s1"
                                            data-autoplay="false" data-loop="false" data-centerslide="false"
                                            data-mobile="1" data-tablet="1" data-desktop="1" data-spacing="10"
                                            data-arrowleft="bfs_howUse-b3-s1-swiper-prev"
                                            data-arrowright="bfs_howUse-b3-s1-swiper-next">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <div class="bfs_howUseWrap">
                                                        <img src="https://qureskincaredns.com/new/assets/bfs_sm_mask.svg" alt=""
                                                            class="img-fluid">
                                                        <div class="bfs_howUseInfo text-start">
                                                            <h5>Q-Rejuvalight Pro LED Mask </h5>
                                                            <ul class="li_decimal">
                                                                <li>Use daily.</li>
                                                                <li>Cleanse and dry your face, then put it
                                                                    on for just 3 minutes and follow with
                                                                    your skincare routine. </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="bfs_howUseWrap">
                                                        <img src="https://qureskincaredns.com/new/assets/bfs_faucet_filter.svg" alt=""
                                                            class="img-fluid">
                                                        <div class="bfs_howUseInfo text-start">
                                                            <h5>Faucet Filter</h5>
                                                            <ul class="li_decimal">
                                                                <li>Install the Qure Faucet Filter on your
                                                                    faucet.</li>
                                                                <li>Replace filter every 3 months (purchase
                                                                    replacement via our website).</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="bfs_howUseWrap">
                                                        <img src="https://qureskincaredns.com/new/assets/bfs-dermal-mist-sm.svg" alt=""
                                                            class="img-fluid">
                                                        <div class="bfs_howUseInfo text-start">
                                                            <h5>Dermal Mist (120ml)</h5>
                                                            <ul class="li_decimal">
                                                                <li>Spray directly on dry skin, body and face.
                                                                    Allow skin to air dry—no rinsing needed.
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
        
                                            </div>
                                            <div class="swiper-pagination"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endcapture %}
        
                    {% render 'temp-ehbd-item', product: all_products['breakout-control-pro-1'], default_variant: '45970548883695' , bundleId: 'b3-s1-bundle', bundlePercent: '30', included: included, class: 'hide_us' %}
        
                    {% comment %} next product {% endcomment %}
        
                    {% capture included %}
                        <div class="bfs_bf_item_tabs mt-4">
                            <ul class="nav nav-pills mb-3" id="pills-b3-s2-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="pills-included-b3-s2-tab"
                                        data-bs-toggle="pill" data-bs-target="#pills-included-b3-s2"
                                        type="button" role="tab" aria-controls="pills-included-b3-s2"
                                        aria-selected="true">What’s
                                        Included</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="pills-use-b3-s2-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-use-b3-s2" type="button" role="tab"
                                        aria-controls="pills-use-b3-s2" aria-selected="false">How to
                                        Use</button>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-b3-s2-tabContent">
                                <div class="tab-pane fade show active" id="pills-included-b3-s2" role="tabpanel"
                                    aria-labelledby="pills-included-b3-s2-tab">
                                    <div class="bfs_tabContent_bx text-start">
                                        <img src="https://qureskincaredns.com/new/assets/bfs_mask.webp" alt="" class="img-fluid">
                                        <div class="bfs_tbx_info">
                                            <div class="bfs_tbx_title">
                                                Q-Rejuvalight Pro LED Mask
                                            </div>
                                            <div class="bfs_tbx_lowStock">Low Stock <span>- 91
                                                    left</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bfs_bf_item_tabContent">
                                        <div class="bfs_tabContent_bx text-start">
                                            <img src="https://qureskincaredns.com/new/assets/bfs-derma-mist.webp" alt="" class="img-fluid">
                                            <div class="bfs_tbx_info">
                                                <div class="bfs_tbx_title">
                                                    Dermal Mist (120ml)
                                                </div>
                                            </div>
                                            <div class="popup-content">
                                                <button type="button" class="btn bfs_tbx_ing"
                                                    data-bs-toggle="modal" data-bs-target="#pop-b3-s2">
                                                    Ingredients List
                                                </button>
                                                <div class="modal fade" id="pop-b3-s2" data-bs-backdrop="static"
                                                    data-bs-keyboard="false" tabindex="-1"
                                                    aria-labelledby="pop-b3-s2Label" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="pop-b3-s2Label">
                                                                    Dermal Mist</h5>
                                                                <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal"
                                                                    aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <p>Dermatologically Tested, Clinically Tested,
                                                                    Hypoallergenic, Suitable for sensitive skin,
                                                                    Dermatologist approved, Allergy Tested,
                                                                    Non-Irritating.
                                                                </p>
                                                                <h5 class="modal-title">
                                                                    Dermal Mist Ingredients</h5>
                                                                <p>WATER (Aqua)*, CHRYSANTHELLUM INDICUM FLOWER
                                                                    WATER, SODIUM CHLORIDE, SODIUM PHOSPHATE,
                                                                    DISODIUM PHOSPHATE, HYPOCHLOROUS ACID.
                                                                    *Ultra Pure Water.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade popup-content" id="pills-use-b3-s2" role="tabpanel"
                                    aria-labelledby="pills-use-b3-s2-tab">
                                    <div>
                                        <div class="swiper twa__swiper dot_pagination"
                                            id="twa__swiper-bfs_howUse-b3-s2" data-section-id="bfs_howUse-b3-s2"
                                            data-autoplay="false" data-loop="false" data-centerslide="false"
                                            data-mobile="1" data-tablet="1" data-desktop="1" data-spacing="10"
                                            data-arrowleft="bfs_howUse-b3-s2-swiper-prev"
                                            data-arrowright="bfs_howUse-b3-s2-swiper-next">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <div class="bfs_howUseWrap">
                                                        <img src="https://qureskincaredns.com/new/assets/bfs_sm_mask.svg" alt=""
                                                            class="img-fluid">
                                                        <div class="bfs_howUseInfo text-start">
                                                            <h5>Q-Rejuvalight Pro LED Mask
                                                            </h5>
                                                            <ul class="li_decimal">
                                                                <li>Use daily.</li>
                                                                <li>Cleanse and dry your face, then put it on
                                                                    for just 3 minutes and follow with your
                                                                    skincare routine. </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="bfs_howUseWrap">
                                                        <img src="https://qureskincaredns.com/new/assets/bfs-dermal-mist-sm.svg" alt=""
                                                            class="img-fluid">
                                                        <div class="bfs_howUseInfo text-start">
                                                            <h5>Dermal Mist (120ml)</h5>
                                                            <ul class="li_decimal">
                                                                <li>Spray directly on dry skin, body and face.
                                                                    Allow skin to air dry—no rinsing needed.
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-pagination"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endcapture %}
        
                    {% render 'temp-ehbd-item', product: all_products['breakout-control-advanced'], bundleId: 'b3-s2-bundle', bundlePercent: '30', included: included %}
        
                    {% comment %} next product {% endcomment %}
        
                    {% capture included %}
                        <div class="bfs_bf_item_tabs mt-4">
                            <ul class="nav nav-pills mb-3" id="pills-b3-s3-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="pills-included-b3-s3-tab"
                                        data-bs-toggle="pill" data-bs-target="#pills-included-b3-s3"
                                        type="button" role="tab" aria-controls="pills-included-b3-s3"
                                        aria-selected="true">What’s
                                        Included</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="pills-use-b3-s3-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-use-b3-s3" type="button" role="tab"
                                        aria-controls="pills-use-b3-s3" aria-selected="false">How to
                                        Use</button>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-b3-s3-tabContent">
                                <div class="tab-pane fade show active" id="pills-included-b3-s3" role="tabpanel"
                                    aria-labelledby="pills-included-b3-s3-tab">
                                    <div class="bfs_bf_item_tabContent">
                                        <div class="bfs_tabContent_bx text-start">
                                            <img src="https://qureskincaredns.com/new/assets/bfs_faucet.webp" alt=""
                                                class="img-fluid faucetImage">
                                            <div class="bfs_tbx_info">
                                                <div class="bfs_tbx_title">
                                                    Faucet Filter
                                                </div>
                                                <div class="bfs_tbx_lowStock">Low Stock <span>- 23
                                                        left</span>
                                                </div>
                                            </div>
                                            <div class="bfs_tbx_color">
                                                <select id="for" class="form-select form-select-first colorSelectorFaucet"
                                                    aria-label="Default select example">
                                                    <option value="1" selected>White</option>
                                                    <option value="2">Black</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="bfs_tabContent_bx text-start">
                                            <img src="https://qureskincaredns.com/new/assets/bfs_shower_f.webp" alt=""
                                                class="img-fluid showerImage">
                                            <div class="bfs_tbx_info">
                                                <div class="bfs_tbx_title">
                                                    Shower Filter
                                                </div>
                                                <div class="bfs_tbx_lowStock">Pre-Order <span>- Ships Mid
                                                        Dec</span>
                                                </div>
                                            </div>
                                            <div class="bfs_tbx_color">
                                                <select class="form-select form-select-second colorSelector"
                                                    aria-label="Default select example">
                                                    <option value="1" selected>White</option>
                                                    <option value="2">Black</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade popup-content" id="pills-use-b3-s3" role="tabpanel"
                                    aria-labelledby="pills-use-b3-s3-tab">
                                    <div>
                                        <div class="swiper twa__swiper dot_pagination"
                                            id="twa__swiper-bfs_howUse-b3-s3" data-section-id="bfs_howUse-b3-s3"
                                            data-autoplay="false" data-loop="false" data-centerslide="false"
                                            data-mobile="1" data-tablet="1" data-desktop="1" data-spacing="10"
                                            data-arrowleft="bfs_howUse-b3-s3-swiper-prev"
                                            data-arrowright="bfs_howUse-b3-s3-swiper-next">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <div class="bfs_howUseWrap">
                                                        <img src="https://qureskincaredns.com/new/assets/bfs_faucet_filter.svg" alt=""
                                                            class="img-fluid">
                                                        <div class="bfs_howUseInfo text-start">
                                                            <h5>Faucet Filter</h5>
                                                            <ul class="li_decimal">
                                                                <li>Install the Qure Faucet Filter on your
                                                                    faucet.</li>
                                                                <li>Replace filter every 3 months (purchase
                                                                    replacement via our website).</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="bfs_howUseWrap">
                                                        <img src="https://qureskincaredns.com/new/assets/bfs_shower_f_sm.svg" alt=""
                                                            class="img-fluid">
                                                        <div class="bfs_howUseInfo text-start">
                                                            <h5>Shower Filter</h5>
                                                            <ul class="li_decimal">
                                                                <li>Remove your original shower head and screw
                                                                    on the Qure Shower Filter</li>
                                                                <li>Replace filter every 3 months (purchase
                                                                    replacement via our website).</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-pagination"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endcapture %}
        
                    {% capture preorder %}
                        <div class="bfs_preOrderItem">
                            <p class="pre">PRE-ORDER</p>
                            <p class="ships">SHIPS MID DECEMBER</p>
                        </div>
                    {% endcapture %}
        
                    {% render 'temp-ehbd-item', product: all_products['breakout-control-starter'], bundleId: 'b3-s3-bundle', default_variant: '45909844787439', bundlePercent: '30', preorder: preorder, included: included, class: 'hide_us' %}
        
        
                    {% capture included %}
                        <div class="bfs_bf_item_tabs mt-4">
                            <ul class="nav nav-pills mb-3" id="pills-b3-s4-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="pills-included-b3-s4-tab"
                                        data-bs-toggle="pill" data-bs-target="#pills-included-b3-s4"
                                        type="button" role="tab" aria-controls="pills-included-b3-s4"
                                        aria-selected="true">What’s
                                        Included</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="pills-use-b3-s4-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-use-b3-s4" type="button" role="tab"
                                        aria-controls="pills-use-b3-s4" aria-selected="false">How to
                                        Use</button>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-b3-s4-tabContent">
                                <div class="tab-pane fade show active" id="pills-included-b3-s4" role="tabpanel"
                                    aria-labelledby="pills-included-b3-s4-tab">
                                    <div class="bfs_bf_item_tabContent">
                                        <div class="bfs_tabContent_bx text-start">
                                            <img src="https://qureskincaredns.com/new/assets/bfs-derma-mist.webp" alt="" class="img-fluid">
                                            <div class="bfs_tbx_info">
                                                <div class="bfs_tbx_title">
                                                    Dermal Mist (120ml)
                                                </div>
                                            </div>
                                            <div class="popup-content">
                                                <button type="button" class="btn bfs_tbx_ing"
                                                    data-bs-toggle="modal" data-bs-target="#pop-b3-s4">
                                                    Ingredients List
                                                </button>
                                                <div class="modal fade" id="pop-b3-s4" data-bs-backdrop="static"
                                                    data-bs-keyboard="false" tabindex="-1"
                                                    aria-labelledby="pop-b3-s4Label" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="pop-b3-s4Label">
                                                                    Dermal Mist</h5>
                                                                <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal"
                                                                    aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <p>Dermatologically Tested, Clinically Tested,
                                                                    Hypoallergenic, Suitable for sensitive skin,
                                                                    Dermatologist approved, Allergy Tested,
                                                                    Non-Irritating.
                                                                </p>
                                                                <h5 class="modal-title">
                                                                    Dermal Mist Ingredients</h5>
                                                                <p>WATER (Aqua)*, CHRYSANTHELLUM INDICUM FLOWER
                                                                    WATER, SODIUM CHLORIDE, SODIUM PHOSPHATE,
                                                                    DISODIUM PHOSPHATE, HYPOCHLOROUS ACID.
                                                                    *Ultra Pure Water.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="bfs_tabContent_bx text-start">
                                            <img src="https://qureskincaredns.com/new/assets/bfs_ one.webp" alt="" class="img-fluid">
                                            <div class="bfs_tbx_info">
                                                <div class="bfs_tbx_title">
                                                    All-In-One Face Serum
                                                </div>
                                            </div>
                                            <div class="popup-content">
                                                <button type="button" class="btn bfs_tbx_ing" data-bs-toggle="modal" data-bs-target="#pop-b3-s4-2">
                                                    Ingredients List
                                                </button>
                                                <div class="modal fade" id="pop-b3-s4-2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="pop-b3-s4-2Label" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="pop-b3-s4-2Label">
                                                                    All-In-One Face Serum Full Ingredients
                                                                    List</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <p>Argireline® Peptides, Retinol, Bakuchiol,
                                                                    Niacinamide, Vit C, Vit E, Ferulic Acid.
                                                                </p>
                                                                <p>Water, Glycerin, Propanediol, Caprylic/Capric
                                                                    Triglyceride, Maltodextrin, Sodium
                                                                    Acrylates, Copolymer, Niacinamide,
                                                                    Bakuchiol, 3-O-Ethyl Ascorbic Acid, Glycine
                                                                    Soja (Soybean) Oil, Sucrose Dilaurate,
                                                                    Retinyl Palmitate, Lactic Acid,
                                                                    1,2-Hexanediol, Glyceryl Oleate Citrate,
                                                                    Caprylyl Glycol, Tocopheryl Acetate,
                                                                    Lecithin, Polyacrylate-13, Retinol, Sodium
                                                                    Hydroxide, Sodium Cocoyl Glutamate,
                                                                    Polyisobutene, Ferulic Acid, Pentaerythrityl
                                                                    Tetra-Di-T-Butyl, Hydroxyhydrocinnamate,
                                                                    Mandelic Acid, Pisum Sativum (Pea) Extract,
                                                                    Artemisia Umbelliformis Flower Extract,
                                                                    Boswellia Serrata Resin Extract, Polysorbate
                                                                    20, Sorbitan Isostearate, Sodium Benzoate,
                                                                    Potassium Sorbate, Ganoderma Lucidum
                                                                    (Mushroom) Extract, Tropolone, Camellia
                                                                    Sinensis Leaf, Tocopherol, Citric Acid,
                                                                    Acetyl Hexapeptide-8, Terminalia
                                                                    Ferdinandiana Fruit Extract, BHT, Hyaluronic
                                                                    Acid, Ginkgo Biloba Leaf Extract.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade popup-content" id="pills-use-b3-s4" role="tabpanel"
                                    aria-labelledby="pills-use-b3-s4-tab">
                                    <div>
                                        <div class="swiper twa__swiper dot_pagination"
                                            id="twa__swiper-bfs_howUse-b3-s4" data-section-id="bfs_howUse-b3-s4"
                                            data-autoplay="false" data-loop="false" data-centerslide="false"
                                            data-mobile="1" data-tablet="1" data-desktop="1" data-spacing="10"
                                            data-arrowleft="bfs_howUse-b3-s4-swiper-prev"
                                            data-arrowright="bfs_howUse-b3-s4-swiper-next">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <div class="bfs_howUseWrap">
                                                        <img src="https://qureskincaredns.com/new/assets/bfs-dermal-mist-sm.svg" alt="" class="img-fluid">
                                                        <div class="bfs_howUseInfo text-start">
                                                            <h5>Dermal Mist (120ml)</h5>
                                                            <ul class="li_decimal">
                                                                <li>Spray directly on dry skin, body and face.
                                                                    Allow skin to air dry—no rinsing needed.
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="bfs_howUseWrap">
                                                        <img src="https://qureskincaredns.com/new/assets/bfs_sm_all-in-one.svg" alt="" class="img-fluid">
                                                        <div class="bfs_howUseInfo text-start">
                                                            <h5>All-In-One Face Serum</h5>
                                                            <ul class="li_decimal">
                                                                <li>After cleansing, apply 1-2 pumps on the face
                                                                    and neck. Follow with moisturizer.</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-pagination"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endcapture %}
        
                    {% render 'temp-ehbd-item', product: all_products['breakout-control-essentials'], bundleId: 'b3-s4-bundle', bundlePercent: '30', included: included %}
        
                </div>
            </div>
        </div>     
    </div>
</div>