<!-- -- black friday bundle start -- -->
<div class="bf_bundle_sale" id="bf-bundles">
    <div class="container">
        <div class="section_header mw-100">
            <div class="bfs_reviews d-flex align-items-center gap-2 justify-content-center mb-2">
                <img src="https://qureskincaredns.com/new/assets/bfs_reviews.webp" alt="" class="img-fluid">
                <p><strong>5000+ customers</strong> recently purchased a bundle</p>
            </div>
            <div class="bfs_tag mt-3 mb-md-2 mx-auto">
                <p class="bfs_tag_bf">BLACK FRIDAY</p>
                <p class="bfs_tag_sale">SALE</p>
            </div>
            <div class="bf-bundles_title text-center mb-2 mb-md-3">
                <h3>Choose your bundle.</h3>
                <h4>Long term healthy skin and better self-esteem starts here.</h4>
            </div>
        </div>
        <div class="mw-600 mx-auto pb-md-3">
            <div class="light_green_tag">
                Shop by concern:
            </div>
            <div class="bf_bundle_sale_ftr">
                <a href="#bundle1" class="bf_bundle_sale_ftr_item">
                    <img src="https://qureskincaredns.com/new/assets/bf-ftr-aging.svg" alt="" class="img-fluid">
                    <p>Signs of Aging, Wrinkles & Fine Lines</p>
                </a>
                <a href="#bundle2" class="bf_bundle_sale_ftr_item">
                    <img src="https://qureskincaredns.com/new/assets/bf-ftr-wrinkles.svg" alt="" class="img-fluid">
                    <p>Dark Spots, Wrinkles
                        <br>& Fine Lines
                    </p>
                </a>
                <a href="#bundle3" class="bf_bundle_sale_ftr_item">
                    <img src="https://qureskincaredns.com/new/assets/bf-ftr-acne.svg" alt="" class="img-fluid">
                    <p>Acne & Breakouts</p>
                </a>
            </div>
        </div>
        {% include 'temp-ehbd-list' %}
    </div>
</div>
<!-- -- black friday bundle end -- -->