<!-- -- contact us start -- -->
<div class="contact_us_bl section need_help">
    <div class="container">
        <div class="contact_us_wrap">
            <div class="section_header text-center mb-3">
                <h2 class="title-md">Need help?</h2>
            </div>
            <div class="contact_btns">
                <div class="contact_btns_items">
                    <h3>Access Your Affiliate Portal</h3>
                    <p>Log in to your affiliate portal to track your commissions and sales</p>
                    <a href="https://affiliates.socialsnowball.io/auth/affiliate/login" class="cu_btn">
                        <p>Log In</p>
                    </a>
                </div>
                <div class="contact_btns_items">
                    <h3>Product Questions </h3>
                    <p>Find all the answers in our Frequently Asked Questions</p>
                    <a href="https://qureskincare.com/products/face-serum#faq_section" class="cu_btn">
                        <p>Check FAQs </p>
                    </a>
                </div>
                <div class="contact_btns_items">
                    <h3>Contact Us!</h3>
                    <p>If you have any questions, contact our team affiliate@qureskincare.com</p>
                    <a href="https://www.qureskincare.com/pages/contact-us" class="cu_btn">
                        <p>Email Us</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="copyright pb-0">
            <ul>
                <li>
                    <a href="/pages/terms-and-conditions" target="_blank">Terms &amp; Conditions </a>
                </li>
                <li>
                    <a href="/pages/privacy-page" target="_blank">Privacy Policy </a>
                </li>
                <li>
                    <a href="#" target="_blank">© 2024 Qure. All rights reserved. </a>
                </li>
            </ul>
            <p>Our products are not intended to diagnose, cure, or prevent specific diseases of medical
                conditions. The Qure website is for education and information purposes only and is not intended
                as medical advice or a substitute for medical advice.</p>
        </div>
    </div>
</div>
<!-- -- contact us end -- -->