<!-- -- advanced filtration start -- -->
<div class="advanced-filtration section">
    <div class="container">
        <div class="section_header text-md-center ms-0 m-md-auto pb-0">
            <h2 class="title-lg">
                4-Stage Advanced Filtration Technology
            </h2>
            <p>Qure’s Faucet Filter uses an advanced carbon filter – the preferred and most effective method.
            </p>
        </div>
        <div class="filter_comparsion section">
            <div class="row align-items-center gy-3">
                <div class="col-md-6">
                    <div class="comparsion">
                        <div class="comparsion_inner">
                            <div class="image-container">
                                <img class="image-before slider-image" src="https://qureskincaredns.com/new/assets/other-water-filter.webp"
                                    alt="color photo" />
                                <img class="image-after slider-image" src="https://qureskincaredns.com/new/assets/qure-faucet-filter.png"
                                    alt="black and white" />
                            </div>
                            <!-- step="10" -->
                            <input type="range" min="0" max="100" value="50"
                                aria-label="Percentage of before photo shown" class="slider" />
                            <div class="slider-line" aria-hidden="true"></div>
                            <div class="slider-button" aria-hidden="true">
                                <img src="https://qureskincaredns.com/new/assets/slider_arrows.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row gy-3">
                        <div class="col-12 pb-1">
                            <div class="row align-items-center">
                                <div class="col-md-4 col-6">
                                    <div class="filter_info">
                                        <h5 class="mb-0">1</h5>
                                        <p>Carbon filter</p>
                                    </div>
                                </div>
                                <div class="col-md-8 col-6">
                                    <p>Removes up to 99.9% chlorine & contaminants</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 pb-1">
                            <div class="row align-items-center">
                                <div class="col-md-4 col-6">
                                    <div class="filter_info">
                                        <h5 class="mb-0">2</h5>
                                        <p>Ultra filter</p>
                                    </div>
                                </div>
                                <div class="col-md-8 col-6">
                                    <p>Reduces tiny particles</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 pb-1">
                            <div class="row align-items-center">
                                <div class="col-md-4 col-6">
                                    <div class="filter_info">
                                        <h5 class="mb-0">3</h5>
                                        <p>Descaler</p>
                                    </div>
                                </div>
                                <div class="col-md-8 col-6">
                                    <p>Reduces limescale buildup</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row align-items-center">
                                <div class="col-md-4 col-6">
                                    <div class="filter_info">
                                        <h5 class="mb-0">4</h5>
                                        <p>Reduction layer</p>
                                    </div>
                                </div>
                                <div class="col-md-8 col-6">
                                    <p>Reduces heavy metals</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mw-970">
            <div class="row gy-3">
                <div class="col-md-4">
                    <div class="filter_benefit text-center align-items-start">
                        <img src="https://qureskincaredns.com/new/assets/descaling.svg" alt="" class="pb-md-3">
                        <div class="text-md-center text-start">
                            <h6>ASP (descaling)</h6>
                            <p>Reduces limescale buildup, which, when left untreated, can dry out your skin.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="filter_benefit text-center align-items-start">
                        <img src="https://qureskincaredns.com/new/assets/metal.svg" alt="" class="pb-md-3">
                        <div class="text-md-center text-start">
                            <h6>Heavy metal reduction layer</h6>
                            <p>Targets heavy metals like lead.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="filter_benefit text-center align-items-start">
                        <img src="https://qureskincaredns.com/new/assets/Ultrafilter.svg" alt="" class="pb-md-3">
                        <div class="text-md-center text-start">
                            <h6>Ultrafilter</h6>
                            <p>A very fine filter (down to 0.01 microns), it removes tiny particles like sand
                                and bacteria.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- -- advanced filtration end -- -->

<!-- -- image with text start -- -->
<div class="imageText section qure_MI_ftr_wrap">
    <div class="container">
        <div class="hollywood_skin mt-0">
            <div class="row align-items-center">
                <div class="col-12 col-md-5">
                    <img src="https://qureskincaredns.com/new/assets/faucet_flter-pd10.webp" alt="" class="img-fluid">
                </div>
                <div class="col-12 col-md-7">
                    <div class="it_info p-0 ps-md-5 pt-md-0 pt-3">
                        <h2 class="title-lg mb-3">360° Nozzle for Precise Water Direction</h2>
                        <div class="nozzel_benefit mw-493 py-4">
                            <div class="row">
                                <div class="col-4">
                                    <div class="text-center">
                                        <img src="https://qureskincaredns.com/new/assets/restart.svg" alt="">
                                        <p class="pt-3">Easy Toggle Options</p>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="text-center">
                                        <img src="https://qureskincaredns.com/new/assets/water_tap.svg" alt="">
                                        <p class="pt-3">99%<br class="d-md-none"> Faucet Fit</p>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="text-center">
                                        <img src="https://qureskincaredns.com/new/assets/verfied_sheild.svg" alt="">
                                        <p class="pt-3">Lifetime Warranty</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="fw-normal">Our patent pending 360° nozzle offers precise and adjustable
                            filtered water
                            direction, making it suitable for all sink sizes.</p>
                        <a href="#shopify-section-template--18764097716463__main" class="mt-4 btn btn-lg btn-primary mw-268 fw-medium py-3">Shop
                            Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- -- image with text end -- -->

<script>
    const container = document.querySelector('.comparsion_inner');
    document.querySelector('.slider').addEventListener('input', (e) => {
        container.style.setProperty('--position', `${e.target.value}%`);
    })
</script>