<!-- --  skincare slider start 
<div class="skincare_slider_n section pt-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="section_header">
                    <h2 class="title-lg">
                        No promises, just results.
                    </h2>
                    <p class="py-3">In an independent user study, the Qure Faucet Filter was evaluated for its
                        effects on skin hydration and wrinkle appearance under real-life conditions.
                        Participants demonstrated significant visible improvements after just one month. </p>
                    <div class="d-none d-md-block">
                        <div class="skincare_percent">
                            <div class="progressCont">
                                <span class="progressWrapper">
                                    <span class="progessInfo text-dark">77%</span>
                                    <svg class="vMQQx" height="54" width="54" viewBox="-29 -29 58 58">
                                        <defs>
                                            <linearGradient id="gradient" x1="0" x2="0" y1="1" y2="0">
                                                <stop offset="0%" stop-color="#C7E7DC"></stop>
                                                <stop offset="100%" stop-color="#C7E7DC"></stop>
                                            </linearGradient>
                                        </defs>
                                        <circle stroke="rgba(221, 224, 228, 1)" fill="none" pathLength="100"
                                            class="K4v4P" r="24" style="stroke-width: 1px;"></circle>
                                        <circle visibility="visible" fill="none" pathLength="100"
                                            transform="rotate(-90)" class="OKwUu" r="24" stroke="#c7e7dc"
                                            style="stroke-dasharray: 100; stroke-dashoffset: 23; stroke-width: 4px;">
                                        </circle>
                                    </svg>
                                </span>
                            </div>
                            <p>reported <strong>reduced tightness</strong> after washing with filtered water.</p>
                        </div>
                        <div class="skincare_percent">
                            <div class="progressCont">
                                <span class="progressWrapper">
                                    <span class="progessInfo text-dark">83%</span>
                                    <svg class="vMQQx" height="54" width="54" viewBox="-29 -29 58 58">
                                        <defs>
                                            <linearGradient id="gradient" x1="0" x2="0" y1="1" y2="0">
                                                <stop offset="0%" stop-color="#C7E7DC"></stop>
                                                <stop offset="100%" stop-color="#C7E7DC"></stop>
                                            </linearGradient>
                                        </defs>
                                        <circle stroke="rgba(221, 224, 228, 1)" fill="none" pathLength="100"
                                            class="K4v4P" r="24" style="stroke-width: 1px;"></circle>
                                        <circle visibility="visible" fill="none" pathLength="100"
                                            transform="rotate(-90)" class="OKwUu" r="24" stroke="#c7e7dc"
                                            style="stroke-dasharray: 100; stroke-dashoffset: 17; stroke-width: 4px;">
                                        </circle>
                                    </svg>
                                </span>
                            </div>
                            <p>noticed <strong>less dryness</strong> after 4 weeks.</p>
                        </div>
                        <div class="skincare_percent">
                            <div class="progressCont">
                                <span class="progressWrapper">
                                    <span class="progessInfo text-dark">83%</span>
                                    <svg class="vMQQx" height="54" width="54" viewBox="-29 -29 58 58">
                                        <defs>
                                            <linearGradient id="gradient" x1="0" x2="0" y1="1" y2="0">
                                                <stop offset="0%" stop-color="#C7E7DC"></stop>
                                                <stop offset="100%" stop-color="#C7E7DC"></stop>
                                            </linearGradient>
                                        </defs>
                                        <circle stroke="rgba(221, 224, 228, 1)" fill="none" pathLength="100"
                                            class="K4v4P" r="24" style="stroke-width: 1px;"></circle>
                                        <circle visibility="visible" fill="none" pathLength="100"
                                            transform="rotate(-90)" class="OKwUu" r="24" stroke="#c7e7dc"
                                            style="stroke-dasharray: 100; stroke-dashoffset: 17; stroke-width: 4px;">
                                        </circle>
                                    </svg>
                                </span>
                            </div>
                            <p><strong>would recommend</strong> Qure Faucet Filter to a friend.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="offset-md-1 col-md-5">
                <div class="skin_item_n">
                    <div class="skin_item_n_img">
                        <img src="https://qureskincaredns.com/new/assets/sn_8.webp" alt="" class="img-fluid">
                    </div>
                    <div class="skin_item_n_tag ps-md-3">
                        <p class="ps-md-2">Proven results in</p>
                        <p>
                            <span class="sn_tag">Hydration</span>
                            <span class="sn_tag">Wrinkles</span>
                            <span class="sn_tag">Acne</span>
                            <span class="sn_tag">Skin Texture</span>
                        </p>
                    </div>
                </div>
                <div class="d-block d-md-none">
                    <div class="skincare_percent">
                        <div class="progressCont">
                            <span class="progressWrapper">
                                <span class="progessInfo text-dark">77%</span>
                                <svg class="vMQQx" height="54" width="54" viewBox="-29 -29 58 58">
                                    <defs>
                                        <linearGradient id="gradient" x1="0" x2="0" y1="1" y2="0">
                                            <stop offset="0%" stop-color="#C7E7DC"></stop>
                                            <stop offset="100%" stop-color="#C7E7DC"></stop>
                                        </linearGradient>
                                    </defs>
                                    <circle stroke="rgba(221, 224, 228, 1)" fill="none" pathLength="100"
                                        class="K4v4P" r="24" style="stroke-width: 1px;"></circle>
                                    <circle visibility="visible" fill="none" pathLength="100"
                                        transform="rotate(-90)" class="OKwUu" r="24" stroke="#c7e7dc"
                                        style="stroke-dasharray: 100; stroke-dashoffset: 23; stroke-width: 4px;">
                                    </circle>
                                </svg>
                            </span>
                        </div>
                        <p>noticed continued improvement in <strong>wrinkle reduction.</strong></p>
                    </div>
                    <div class="skincare_percent">
                        <div class="progressCont">
                            <span class="progressWrapper">
                                <span class="progessInfo text-dark">83%</span>
                                <svg class="vMQQx" height="54" width="54" viewBox="-29 -29 58 58">
                                    <defs>
                                        <linearGradient id="gradient" x1="0" x2="0" y1="1" y2="0">
                                            <stop offset="0%" stop-color="#C7E7DC"></stop>
                                            <stop offset="100%" stop-color="#C7E7DC"></stop>
                                        </linearGradient>
                                    </defs>
                                    <circle stroke="rgba(221, 224, 228, 1)" fill="none" pathLength="100"
                                        class="K4v4P" r="24" style="stroke-width: 1px;"></circle>
                                    <circle visibility="visible" fill="none" pathLength="100"
                                        transform="rotate(-90)" class="OKwUu" r="24" stroke="#c7e7dc"
                                        style="stroke-dasharray: 100; stroke-dashoffset: 10; stroke-width: 4px;">
                                    </circle>
                                </svg>
                            </span>
                        </div>
                        <p>reported under eyes were visibly <strong>brighter.</strong></p>
                    </div>
                    <div class="skincare_percent">
                        <div class="progressCont">
                            <span class="progressWrapper">
                                <span class="progessInfo text-dark">83%</span>
                                <svg class="vMQQx" height="54" width="54" viewBox="-29 -29 58 58">
                                    <defs>
                                        <linearGradient id="gradient" x1="0" x2="0" y1="1" y2="0">
                                            <stop offset="0%" stop-color="#C7E7DC"></stop>
                                            <stop offset="100%" stop-color="#C7E7DC"></stop>
                                        </linearGradient>
                                    </defs>
                                    <circle stroke="rgba(221, 224, 228, 1)" fill="none" pathLength="100"
                                        class="K4v4P" r="24" style="stroke-width: 1px;"></circle>
                                    <circle visibility="visible" fill="none" pathLength="100"
                                        transform="rotate(-90)" class="OKwUu" r="24" stroke="#c7e7dc"
                                        style="stroke-dasharray: 100; stroke-dashoffset: 13; stroke-width: 4px;">
                                    </circle>
                                </svg>
                            </span>
                        </div>
                        <p><strong>would recommend</strong> Micro-Infusion Targeted Patches to a friend.</p>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
 --  skincare slider end  -- -->