<!-- -- ingredients list start -- -->
<div class="ingredients_list">
    <div class="container">
        <div class="section_header text-md-center ms-0 m-md-auto">
            <h2 class="title-lg pb-4 pb-md-5">
                It’s time to look toward your faucet, not (just) your ingredients list.
            </h2>
            <p class="mw-600 mx-auto">Research has shown tap water is contaminated with over 320* chemicals that
                your skin is absorbing
                daily. These micro-contaminants in water can clog pores, dry out and irritate sensitive skin.
            </p>
        </div>
        <div class="ingredients_content pt-0 d-none d-md-block">
            <div class="row gy-3">
                <div class="col-md-3 col-sm-6">
                    <div class="row">
                        <div class="col-6">
                            <div class="ingredients_img">
                                <div class="ing_img-inner">
                                    <img src="https://qureskincaredns.com/new/assets/Chlorine.svg" alt="">
                                </div>
                                <p class="fw-semibold">Chlorine</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="ingredients_img">
                                <div class="ing_img-inner">
                                    <img src="https://qureskincaredns.com/new/assets/micro-organisms.svg" alt="">
                                </div>
                                <p class="fw-semibold">Micro-organisms</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="row">
                        <div class="col-6">
                            <div class="ingredients_img">
                                <div class="ing_img-inner">
                                    <img src="https://qureskincaredns.com/new/assets/Calcium.svg" alt="">
                                </div>
                                <p class="fw-semibold">Calcium </p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="ingredients_img">
                                <div class="ing_img-inner">
                                    <img src="https://qureskincaredns.com/new/assets/rust.svg" alt="">
                                </div>
                                <p class="fw-semibold">Rust</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="row">
                        <div class="col-6">
                            <div class="ingredients_img">
                                <div class="ing_img-inner">
                                    <img src="https://qureskincaredns.com/new/assets/Magnesium.svg" alt="">
                                </div>
                                <p class="fw-semibold">Magnesium</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="ingredients_img">
                                <div class="ing_img-inner">
                                    <img src="https://qureskincaredns.com/new/assets/Micro-plastics.svg" alt="">
                                </div>
                                <p class="fw-semibold">Micro-plastics</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="row">
                        <div class="col-6">
                            <div class="ingredients_img">
                                <div class="ing_img-inner">
                                    <img src="https://qureskincaredns.com/new/assets/lead-particles.svg" alt="">
                                </div>
                                <p class="fw-semibold">Lead particles</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="ingredients_img">
                                <div class="ing_img-inner">
                                    <img src="https://qureskincaredns.com/new/assets/many-more.svg" alt="">
                                </div>
                                <p class="fw-semibold">Many more</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ingredients_content pt-0 d-md-none">
            <div class="row gy-3">
                <div class="col-md-3 col-sm-6">
                    <div class="row gx-1">
                        <div class="col-4">
                            <div class="ingredients_img">
                                <div class="ing_img-inner">
                                    <img src="https://qureskincaredns.com/new/assets/rust.svg" alt="">
                                </div>
                                <p class="fw-semibold">Rust</p>
                            </div>
                        </div><div class="col-4">
                            <div class="ingredients_img">
                                <div class="ing_img-inner">
                                    <img src="https://qureskincaredns.com/new/assets/Magnesium.svg" alt="">
                                </div>
                                <p class="fw-semibold">Magnesium</p>
                            </div>
                        </div><div class="col-4">
                            <div class="ingredients_img">
                                <div class="ing_img-inner">
                                    <img src="https://qureskincaredns.com/new/assets/Micro-plastics.svg" alt="">
                                </div>
                                <p class="fw-semibold">Micro-plastics</p>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="row gx-1">
                        <div class="col-3">
                            <div class="ingredients_img">
                                <div class="ing_img-inner">
                                    <img src="https://qureskincaredns.com/new/assets/Chlorine.svg" alt="">
                                </div>
                                <p class="fw-semibold">Chlorine</p>
                            </div>
                        </div>
                        
                    <div class="col-6">
                            <div class="ingredients_img">
                                <div class="ing_img-inner">
                                    <img src="https://qureskincaredns.com/new/assets/micro-organisms.svg" alt="">
                                </div>
                                <p class="fw-semibold">Micro-organisms</p>
                            </div>
                        </div><div class="col-3">
                            <div class="ingredients_img">
                                <div class="ing_img-inner">
                                    <img src="https://qureskincaredns.com/new/assets/Calcium.svg" alt="">
                                </div>
                                <p class="fw-semibold">Calcium </p>
                            </div>
                        </div></div>
                </div>
                
                
            <div class="col-md-3 col-sm-6">
                    <div class="row gx-1 justify-content-center">
                        <div class="col-5">
                            <div class="ingredients_img">
                                <div class="ing_img-inner">
                                    <img src="https://qureskincaredns.com/new/assets/lead-particles.svg" alt="">
                                </div>
                                <p class="fw-semibold">Lead particles</p>
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="ingredients_img">
                                <div class="ing_img-inner">
                                    <img src="https://qureskincaredns.com/new/assets/many-more.svg" alt="">
                                </div>
                                <p class="fw-semibold">Many more</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="section">
            <div class="section_header text-md-center ms-0 m-md-auto">
                <h2 class="title-lg">
                    Water's hidden impact on your skin
                </h2>
                <p class="mw-600 mx-auto">That water hardness is a contributor to <a
                        href="https://www.sciencedirect.com/science/article/pii/S0022202X1732938X" class="text-decoration-underline">skin barrier
                        impairment,</a> including worsened atopic <a
                        href="https://pubmed.ncbi.nlm.nih.gov/33259122/"
                        class="text-decoration-underline">eczema</a> and <a
                        href="https://pubmed.ncbi.nlm.nih.gov/27241890/" class="text-decoration-underline">
                        atopic
                        dermatitis.</a> And not just from the
                    well-known culprit chlorine
                    – but also calcium and magnesium.</p>
            </div>
            <div class="ingredients_content">
                <div class="row gy-3">
                    <div class="col-md-4 col-sm-6">
                        <div class="ingredient">
                            <div class="ingredient_flag flag3">
                                <p>Known irritant</p>
                            </div>
                            <div class="ingredients_text">
                                <p class="fw-bold pb-2">Chlorine</p>
                                <p class="pb-3">Traditionally added to kill bacteria. Chlorine can deplete the skin of the
                                    natural oils that hold moisture in, leading to <span class="fw-semibold">dry
                                        and
                                        itchy skin.</span></p>
                            </div>
                            <div class="ing_image">
                                <img src="https://qureskincaredns.com/new/assets/dry_skin-2.webp" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 pt-5 pt-md-0">
                        <div class="ingredient">
                            <div class="ingredient_flag flag2">
                                <p>Long-term damage!</p>
                            </div>
                            <div class="ingredients_text">
                                <p class="fw-bold pb-2">Magnesium</p>
                                <p class="pb-3">Magnesium can result in the formation of free radicals which damage healthy
                                    skin
                                    cells and break down collagen, resulting in <span class="fw-semibold">fine
                                        lines and wrinkles.</span></p>
                            </div>
                            <div class="ing_image">
                                <img src="https://qureskincaredns.com/new/assets/wrikle_skin.webp" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 pt-5 pt-md-0">
                        <div class="ingredient">
                            <div class="ingredient_flag flag1">
                                <p>Most harmful</p>
                            </div>
                            <div class="ingredients_text">
                                <p class="fw-bold pb-2">Calcium</p>
                                <p class="pb-3">Calcium can irritate the skin, causing dry, scaly, pinkish patches. It can
                                    also
                                    clog pores, which can lead to <span class="fw-semibold">blackheads,
                                        blemishes, and/or rosacea.</span></p>
                            </div>
                            <div class="ing_image">
                                <img src="https://qureskincaredns.com/new/assets/acne_skin-2.webp" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- -- ingredients list end -- -->