<!-- -- main banner start -- -->
<div class="refill_bl pt-md-5 tabSlider" id="productSubscription">
    <div class="container">
        <div class="row">
            <div class="col-md-6 order-2 order-md-1">
                <div>
                    <div class="refill_info pt-3 mw-546">
                        <div class="section_header text-start">
                            <p class="silk_heading pt-0">Pure Silk Pillowcase</p>
                            <h1 class="title-xl mb-0">Minimize Formation of Wrinkles Whilst You Sleep</h1>
                        </div>
                        <div class="price_wrap">
                            <div class="price">
                                <div class="new_price fw-bold">{{ product.price | money_without_trailing_zeros }}</div>
                            </div>
                        </div>
                        <div class="mw-421">
                            <div class="ss_list pb-4 pt-0">
                                <ul>
                                    <li>Causes less friction against the skin, <strong>helping minimize the
                                            formation of sleep lines and wrinkles.</strong></li>
                                    <li><strong>Reduces the accumulation of oils and bacteria</strong> that can
                                        clog pores and cause acne.</li>
                                    <li><strong>Helps to retain moisture:</strong> Absorbs less face cream,
                                        helping you maintain hydration for a more healthy-looking complexion.
                                    </li>
                                </ul>
                            </div>
                            <div class="subscribe_save_wrapper with_subscription mt-0">
                                {% if product.variants.first.available %}
                                    <a class="btn btn-primary with_subscription buy_btn" href="{{ routes.cart_add_url }}?id={{ product.variants.first.id }}&quantity=1" onclick="setEventProductHandler('{{ product.handle | escape }}')" data-ajax-cart-request-button>{% if section.settings.reserve == true %}Reserve now{% else %}Buy Now{% endif %}</a>
                                {% else %}
                                    <a class="btn btn-primary with_subscription buy_btn" href="#">{% if section.settings.reserve == true %}Reserve now{% else %}Sold Out{% endif %}</a>
                                {% endif %}
                            </div>
                            <div class="payment_method pb-0">
                                <p>OR 4 monthly payments of <span class="payment_price">$24.84</span> with</p>
                                <div class="pmt_img ps-2">
                                    <img src="https://qureskincaredns.com/new/assets/klarna.svg" alt=""><img src="https://qureskincaredns.com/new/assets/sezzle.svg" alt=""><img
                                        src="https://qureskincaredns.com/new/assets/afterpay.svg" alt="">
                                </div>
                            </div>
                            <div class="shipping shipping_bg bg-transparent d-md-flex d-none">
                                <div class="s_bx">
                                    <img src="https://qureskincaredns.com/new/assets/dermatologist.svg" alt="">
                                    <p class="d-none d-md-block">Dermatologist Approved</p>
                                    <p class="d-block d-md-none">Dermatologist <br>Approved</p>
                                </div>
                                <div class="s_bx">
                                    <img src="https://qureskincaredns.com/new/assets/shipping.svg" alt="">
                                    <p class="d-none d-md-block">Free Shipping Over $100</p>
                                    <p class="d-block d-md-none">Free World-Wide Shipping Over $100</p>
                                </div>
                            </div>
                            <div class="upgrade_routine d-none">
                                <div class="ur_heading">Upgrade your routine</div>
                                <div class="ur_item_grid">
                                    <div class="ur_item">
                                        <div class="ur_img">
                                            <img src="https://qureskincaredns.com/new/assets/upsell_mi_patches.svg" alt="" class="img-fluid">
                                        </div>
                                        <div class="ur_info">
                                            <div class="ur_itemName">Micro-Infusion Targeted Patches</div>
                                            <div class="ur_price_btn">
                                                <div class="ur_price">$79</div>
                                                <div class="ur_btn">Add</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ur_item">
                                        <div class="ur_img">
                                            <img src="https://qureskincaredns.com/new/assets/upsell_mi_bundles.svg" alt="" class="img-fluid">
                                        </div>
                                        <div class="ur_info">
                                            <div class="ur_itemName">Micro-Infusion 1 Month Bundle (Rejuvenating
                                                + Hydra-Soothing)</div>
                                            <div class="ur_price_btn">
                                                <div class="ur_price">$99</div>
                                                <div class="ur_btn">Add</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-6 order-1 order-md-2 px-md-2 px-0">
                <div class="refill_slider pt-md-0 pt-4 refill_slider_new">
                    <div class="swiper twa__swiper realResultSlider dot_pagination"
                        id="twa__swiper-realResultSlider" data-section-id="realResultSlider"
                        data-autoplay="false" data-loop="false" data-centerslide="false" data-mobile="1"
                        data-tablet="1" data-desktop="1" data-spacing="10"
                        data-arrowleft="realResultSlider-swiper-prev"
                        data-arrowright="realResultSlider-swiper-next">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide pillow_imgs">
                                <p><span class="fw-bold">FREE</span> with every purchase $500 or over</p>
                                <img src="https://qureskincaredns.com/new/assets/pillow-pd3.webp" class="img-fluid" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="https://qureskincaredns.com/new/assets/pillow-pd1.webp" class="img-fluid" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="https://qureskincaredns.com/new/assets/pillow-pd2.webp" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- -- main banner end -- -->

<!-- -- press slider start -- -->
<!-- <div class="press_bl bg-lightGrey mt-md-5 mt-4">
    <div class="container">
        <div class="bfs_bf_item_slider">
            <div class="twa__swiper rt_slider dot_pagination" id="twa__swiper-rt_slider1"
                data-section-id="rt_slider1" data-autoplay="true" data-loop="true" data-centered-mobile="false"
                data-centered-desktop="false" data-mobile="4" data-tablet="3" data-desktop="5"
                data-spacing="0" data-arrowleft="rt_slider-swiper-prev1"
                data-arrowright="rt_slider-swiper-next1">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="ps_item">
                            <img src="https://qureskincaredns.com/new/assets/vogue2.svg" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="ps_item">
                            <img src="https://qureskincaredns.com/new/assets/women_health.svg" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="ps_item">
                            <img src="https://qureskincaredns.com/new/assets/cosmopolitan2.svg" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="ps_item">
                            <img src="https://qureskincaredns.com/new/assets/elle2.svg" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="ps_item">
                            <img src="https://qureskincaredns.com/new/assets/marie.svg" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="press_bl bg-lightGrey mt-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12">
                <div class="ps_wrapper align-items-center">
                    <div class="ps_item">
                        <img src="https://qureskincaredns.com/new/assets/vogue2.svg" alt="" class="img-fluid">
                    </div>
                    <div class="ps_item d-none d-md-block">
                        <img src="https://qureskincaredns.com/new/assets/women_health.svg" alt="" class="img-fluid">
                    </div>
                    <div class="ps_item">
                        <img src="https://qureskincaredns.com/new/assets/cosmopolitan2.svg" alt="" class="img-fluid">
                    </div>
                    <div class="ps_item">
                        <img src="https://qureskincaredns.com/new/assets/elle2.svg" alt="" class="img-fluid">
                    </div>
                    <div class="ps_item">
                        <img src="https://qureskincaredns.com/new/assets/marie.svg" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- -- press slider end -- -->

<!-- -- image with text start -- -->
<div class="imageText new_side section">
    <div class="container">
        <div class="section_header px-md-0 px-2 text-center pb-md-5">
            <p class="silk_heading">Pillow Talk</p>
            <h2 class="title-lg">Here's why your pillowcase matters</h2>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="it_img pb-3 pb-md-0">
                    <div class="it_img_content">
                        <div>
                            <div class="nav d-flex justify-content-between h-100 flex-column nav-pills" id="pillowcase-tab" role="tablist"
                                aria-orientation="vertical">
                                <button class="nav-link" id="pillowcase-home-tab" data-bs-toggle="pill"
                                    data-bs-target="#pillowcase-home" type="button" role="tab"
                                    aria-controls="pillowcase-home" aria-selected="true">
                                    <img src="https://qureskincaredns.com/new/assets/pillow-case-i3-sm.webp" class="img-fluid" alt="">
                                </button>
                                <button class="nav-link active" id="pillowcase-profile-tab" data-bs-toggle="pill"
                                    data-bs-target="#pillowcase-profile" type="button" role="tab"
                                    aria-controls="pillowcase-profile" aria-selected="false">
                                    <img src="https://qureskincaredns.com/new/assets/pillow-case-i1-sm.webp" class="img-fluid" alt="">
                                </button>
                                <button class="nav-link" id="pillowcase-messages-tab" data-bs-toggle="pill"
                                    data-bs-target="#pillowcase-messages" type="button" role="tab"
                                    aria-controls="pillowcase-messages" aria-selected="false">
                                    <img src="https://qureskincaredns.com/new/assets/pillow-case-i2-sm.webp" class="img-fluid" alt="">
                                </button>
                            </div>
                        </div>
                        <div>
                            <div class="tab-content" id="pillowcase-tabContent">
                                <div class="tab-pane fade" id="pillowcase-home" role="tabpanel"
                                    aria-labelledby="pillowcase-home-tab"><img src="https://qureskincaredns.com/new/assets/pillow-case-i3.webp"
                                        class="img-fluid" alt="">
                                </div>
                                <div class="tab-pane fade show active" id="pillowcase-profile" role="tabpanel"
                                    aria-labelledby="pillowcase-profile-tab"><img src="https://qureskincaredns.com/new/assets/pillow-case-i1.webp"
                                        class="img-fluid" alt="">
                                </div>
                                <div class="tab-pane fade" id="pillowcase-messages" role="tabpanel"
                                    aria-labelledby="pillowcase-messages-tab"><img src="https://qureskincaredns.com/new/assets/pillow-case-i2.webp"
                                        class="img-fluid" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="it_info">
                    <div class="newside_list mw-100">
                        <ul>
                            <li>
                                <img src="https://qureskincaredns.com/new/assets/moon.svg" alt="">
                                <div>
                                    <p class="p-head">Did you know?</p>
                                    <p class="fw-normal">You and your pillow will spend 2,500+ hours a year
                                        together? That's what we’d call a long-term relationship. Because cell
                                        renewal and restoration is at its peak whilst we sleep, the quality of
                                        your pillowcase material can certainly make or break your beauty sleep.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <img src="https://qureskincaredns.com/new/assets/feather.svg" alt="">
                                <div>
                                    <p class="p-head">Silk reduces skin friction!</p>
                                    <p class="fw-normal">Silk creates significantly less friction than its
                                        cotton counterpart, which can reduce stretching and tugging on your
                                        delicate facial skin all night long. Translation? Minimizing those pesky
                                        sleep creases over time. As skin loses elasticity with age, these
                                        creases can become more pronounced – especially if you are a side or
                                        stomach sleeper</p>
                                    <p class="fw-normal">Gentle on hair, too, it can stop strands from being
                                        twisted and damaged throughout the night. This means less inflammatory
                                        stress on your skin, and less stress on your hair. Win, win.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- -- image with text end -- -->

<!-- -- Love silk pillowcases start -- -->
<div class="love_silk-pillowcases section">
    <div class="container">
        <div class="section_header text-center">
            <h2 class="title-lg paddingB">5 reasons why everyone loves silk pillowcases</h2>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="silk_pillow-content text-center">
                    <img src="https://qureskincaredns.com/new/assets/silk_pillow_product.webp" alt="" class="img-fluid">
                    <div class="silk_pillow-benefit one">
                        <img src="https://qureskincaredns.com/new/assets/absorb_moisture.svg" alt="">
                        <p class="pt-3">Does not absorb moisture from your skin</p>
                    </div>
                    <div class="silk_pillow-benefit two">
                        <img src="https://qureskincaredns.com/new/assets/sleep-lines.svg" alt="">
                        <p class="pt-3">Cradles your skin for fewer sleep lines</p>
                    </div>
                    <div class="silk_pillow-benefit three">
                        <img src="https://qureskincaredns.com/new/assets/bed_head.svg" alt="">
                        <p class="pt-3">Helps prevent bed head</p>
                    </div>
                    <div class="silk_pillow-benefit four">
                        <img src="https://qureskincaredns.com/new/assets/acne-effect.svg" alt="">
                        <p class="pt-3">Hypoallergenic with an anti-acne effect</p>
                    </div>
                    <div class="silk_pillow-benefit five">
                        <img src="https://qureskincaredns.com/new/assets/proper care.svg" alt="">
                        <p class="pt-3">Can last over 10 years with proper care</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- -- Love silk pillowcases end -- -->

<!-- -- beauty clinical start -- -->
<div class="beauty_skincare beauty_skincare-new section bg-white">
    <div class="container">
        <div class="section_header text-center">
            <p class="silk_heading pb-md-2">YA' SNOOZE, YA' LOSE</p>
            <h2 class="title-lg mw-590 pb-md-3 pb-2">
                The case against cotton
            </h2>
            <p>Your cotton pillowcase has a lot to answer for as they are holding back your advanced skincare
                routine. Cotton is a highly absorbent fabric! So while you take time every night to remove your
                makeup and put on your most powerful and effective skincare, cotton can suck it in, leading to
                clogged pores, breakouts, and puffy eyes from the product migration</p>
        </div>
        <div class="bs_grid position-relative pt-md-3">
            <div class="bs_item">
                <div class="bs_img">
                    <img src="https://qureskincaredns.com/new/assets/silk_cover.webp" alt="" class="img-fluid beauty_img">
                </div>
                <div class="bs_content" style="border-bottom:none">
                    <h4>Silk</h4>
                </div>
                <div class="bs_feature correctCircle">
                    <ul class="rightCircle">
                        <li>Allows your skin to glide, reducing tugging</li>
                        <li>Helps retain skin’s moisture</li>
                        <li>Naturally hypoallergenic w/ non-toxic dyes</li>
                        <li>Helps prevent oil buildup</li>
                        <li>Allows your hair to glide, reducing breakage</li>
                    </ul>
                </div>
            </div>
            <div class="bs_vs_item">
                <div class="bs_versace">
                    <span>vs</span>
                </div>
            </div>
            <div class="bs_item">
                <div class="bs_img">
                    <img src="https://qureskincaredns.com/new/assets/cotton-cover.webp" alt="" class="img-fluid">
                </div>
                <div class="bs_content" style="border-bottom:none">
                    <h4 class="opacity-5">Cotton</h4>
                </div>
                <div class="bs_feature incorrectCircle">
                    <ul class="wrongCircle">
                        <li class="opacity-5">Can contribute to sleep lines & wrinkle formation</li>
                        <li class="opacity-5">Absorbs skin's moisture & skincare products</li>
                        <li class="opacity-5">Can contribute to skin stress</li>
                        <li class="opacity-5">Oil & product buildup can cause breakouts/clogged pores</li>
                        <li class="opacity-5">Can cause bedhead & breakage</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- -- beauty clinical start -- -->

<!-- -- WHAT’S INCLUDED start -- -->
<div class="what_included bg-lightGrey section">
    <div class="container">
        <div class="section_header text-center px-3">
            <p class="silk_heading pb-md-2">WHAT’S INCLUDED</p>
            <h2 class="title-lg mw-590 pb-md-3">
                Meet Your New Bedtime Beau
            </h2>
        </div>
        <div class="included_content-main">
            <div class="included_content pillow_imgs">
                <p><span class="fw-bold">FREE</span> with every purchase $500 or over</p>
                <div class="bs_feature correctCircle">
                    <ul class="rightCircle">
                        <li>50 x 70 cm pillowcase</li>
                        <li>Naturally hypoallergenic</li>
                        <li>Long-fiber mulberry silk</li>
                        <li>Superior softness and breathability</li>
                        <li>Subtle, elegant sheen</li>
                    </ul>
                </div>
            </div>
            <div class="mt-0 px-md-3">
                <a class="btn btn-lg btn-primary with_subscription buy_btn" href="#productSubscription">Get Your
                    Pillowcase</a>
            </div>
        </div>
    </div>
</div>
<!-- -- WHAT’S INCLUDED End -- -->

<!-- -- faq start -- -->
<div class="faq pt-md-5 pt-3" id="faq_section">
    <div class="container">
        <div class="section_header text-center mb-3">
            <h2 class="title-lg">
                FAQs <br>Are Our Love Language
            </h2>
        </div>
        <div class="accordion" id="accordionFAQ">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button py-3" type="button" data-bs-toggle="collapse"
                        data-bs-target="#accFAQOne" aria-expanded="true" aria-controls="accFAQOne">
                        <div class="container">What kind of silk material is used?</div>
                    </button>

                </h2>
                <div id="accFAQOne" class="accordion-collapse collapse show" data-bs-parent="#accordionFAQ">
                    <div class="accordion-body">
                        <div class="container">
                            <p>We use the highest grade (6A) long fiber mulberry silk, with a thickness of 22
                                momme and enforce the strictest quality guidelines, including non-toxic dyes.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed py-3" type="button" data-bs-toggle="collapse"
                        data-bs-target="#accFAQTwo" aria-expanded="false" aria-controls="accFAQTwo">
                        <div class="container">How do I care for the silk pillowcase?</div>
                    </button>
                </h2>
                <div id="accFAQTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFAQ">
                    <div class="accordion-body">
                        <div class="container">
                            <p>The better you can care for your Silk Pillowcase, the better it can care for you.
                                To keep your pillowcase in top condition, wash it in cold water or temperatures
                                no higher than 30°C. Avoid powder detergents or bleach. Always air dry your
                                pillowcase flat or hanging. Never tumble dry or wring it out.
                            </p>
                            <p>WASH BY HAND</p>
                            <ul>
                                <li>Use pH neutral, liquid detergent</li>
                                <li>Wash in cold water</li>
                                <li>Don’t leave to soak</li>
                                <li>Don’t wring the pillowcase</li>
                                <li>Air dry flat or hanging</li>
                                <li>Iron or steam on lowest setting</li>
                            </ul>
                            <p>MACHINE WASH</p>
                            <ul>
                                <li>Use pH neutral, liquid detergent</li>
                                <li>Use hand wash setting</li>
                                <li>Wash in 30°C (86°F)</li>
                                <li>Use washing bag for delicates</li>
                                <li>Air dry flat or hanging</li>
                                <li>Iron or steam on lowest setting</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button py-3 collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#accFAQThree" aria-expanded="false" aria-controls="accFAQThree">
                        <div class="container">Who can sleep on a silk pillowcase?</div>
                    </button>
                </h2>
                <div id="accFAQThree" class="accordion-collapse collapse" data-bs-parent="#accordionFAQ">
                    <div class="accordion-body">
                        <div class="container">
                            <p>If you have a head that needs a pillow, then you’re a perfect match!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button py-3 collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#accFAQFour" aria-expanded="false" aria-controls="accFAQFour">
                        <div class="container">What’s the difference between satin and silk pillowcases?</div>
                    </button>
                </h2>
                <div id="accFAQFour" class="accordion-collapse collapse" data-bs-parent="#accordionFAQ">
                    <div class="accordion-body">
                        <div class="container">
                            <p>Satin refers to a finish rather than a fabric, and when people talk about "satin
                                pillowcases," they often mean those made from synthetic materials like
                                polyester. While these synthetic satin options may feel smooth initially, they
                                don't provide the same benefits for your skin and hair as real silk. Silk, a
                                natural fiber, offers superior softness and breathability compared to synthetic
                                alternatives, which can feel rougher and less comfortable over time. To identify
                                genuine silk, look for a natural, subtle sheen, rather than the overly shiny
                                appearance of synthetic alternatives.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- --faq end -- -->