<!-- -- top rated product start -- -->
<div class="top_rated section" id="result_section">
    <div class="container">
        <div class="section_header paddingB text-center mb-4">
            <img src="https://qureskincaredns.com/new/assets/star-full.svg" alt="" class="img-fluid">
            <h6>200,000+ CONFIDENT customers</h6>
            <h2 class="title-lg  mx-auto text-center">
                Top-rated products at <span class="red-line">best prices.</span>
            </h2>
        </div>
        <div class="top_rated_ftr mw-800 mx-auto">
            <div class="tr_ftr_item">
                <img src="https://qureskincaredns.com/new/assets/investment.svg" alt="">
                <p>One-time investment</p>
            </div>
            <div class="tr_ftr_item">
                <img src="https://qureskincaredns.com/new/assets/convenient.svg" alt="">
                <p>Incredibly convenient</p>
            </div>
            <div class="tr_ftr_item">
                <img src="https://qureskincaredns.com/new/assets/customized.svg" alt="">
                <p>Customized approach</p>
            </div>
            <div class="tr_ftr_item">
                <img src="https://qureskincaredns.com/new/assets/results.svg" alt="">
                <p>Better results</p>
            </div>
        </div>
        <div class="top_rated_slider">
            <div class="twa__swiper rt_slider dot_pagination" id="twa__swiper-rt_slider"
                data-section-id="rt_slider" data-autoplay="false" data-loop="true" data-centered-mobile="true"
                data-centered-desktop="true" data-mobile="1" data-tablet="2" data-desktop="2.2"
                data-spacing="30" data-arrowleft="rt_slider-swiper-prev"
                data-arrowright="rt_slider-swiper-next">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="tr_item">
                            <div class="tr_item_before">
                                <div class="tr_item_tag tr_item_tag_b">Before</div>
                                <img src="https://qureskincaredns.com/new/assets/tr_item3_before.webp" alt="" class="img-fluid">
                            </div>
                            <div class="tr_item_after">
                                <div class="tr_item_tag tr_item_tag_a">After 1 treatment</div>
                                <img src="https://qureskincaredns.com/new/assets/tr_item3_after.webp" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="tr_item">
                            <div class="tr_item_before">
                                <div class="tr_item_tag tr_item_tag_b">Before</div>
                                <img src="https://qureskincaredns.com/new/assets/tr_item1_before.webp" alt="" class="img-fluid">
                            </div>
                            <div class="tr_item_after">
                                <div class="tr_item_tag tr_item_tag_a">After 6 treatment</div>
                                <img src="https://qureskincaredns.com/new/assets/tr_item1_after.webp" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="tr_item">
                            <div class="tr_item_before">
                                <div class="tr_item_tag tr_item_tag_b">Before</div>
                                <img src="https://qureskincaredns.com/new/assets/tr_item2_before.webp" alt="" class="img-fluid">
                            </div>
                            <div class="tr_item_after">
                                <div class="tr_item_tag tr_item_tag_a">After 2 treatment</div>
                                <img src="https://qureskincaredns.com/new/assets/tr_item2_after.webp" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="tr_item">
                            <div class="tr_item_before">
                                <div class="tr_item_tag tr_item_tag_b">Before</div>
                                <img src="https://qureskincaredns.com/new/assets/tr_item4_before.webp" alt="" class="img-fluid">
                            </div>
                            <div class="tr_item_after">
                                <div class="tr_item_tag tr_item_tag_a">After 1 treatment</div>
                                <img src="https://qureskincaredns.com/new/assets/tr_item4_after.webp" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="tr_item">
                            <div class="tr_item_before">
                                <div class="tr_item_tag tr_item_tag_b">Before</div>
                                <img src="https://qureskincaredns.com/new/assets/tr_item5_before.webp" alt="" class="img-fluid">
                            </div>
                            <div class="tr_item_after">
                                <div class="tr_item_tag tr_item_tag_a">After 6 treatment</div>
                                <img src="https://qureskincaredns.com/new/assets/tr_item5_after.webp" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="tr_item">
                            <div class="tr_item_before">
                                <div class="tr_item_tag tr_item_tag_b">Before</div>
                                <img src="https://qureskincaredns.com/new/assets/tr_item6_before.webp" alt="" class="img-fluid">
                            </div>
                            <div class="tr_item_after">
                                <div class="tr_item_tag tr_item_tag_a">After Qure</div>
                                <img src="https://qureskincaredns.com/new/assets/tr_item6_after.webp" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagination_navigation">
                    <div class="swiper-pagination"></div>
                    <div class="rt_slider-swiper-prev custom-prev swiper-button"></div>
                    <div class="rt_slider-swiper-next custom-next swiper-button"></div>
                </div>
            </div>
            <div class="text-center reviews_btn">
                <a href="#bf_reviews" class="btn mx-auto">See Our
                    Reviews <img src="https://qureskincaredns.com/new/assets/arrow-down-white1.svg" class="img-fluid ms-3"></a>
            </div>
        </div>
    </div>
</div>
<!-- -- top rated product end -- -->