<!-- -- main banner start -- -->
{% comment %} <div class="product_guide-section section mb-3">
    <div class="container">
        <div class="section_header mw-100 text-md-start text-center">
            <h2 class="title-xl pb-3 px-md-0 px-4">
                User Manuals Made Easy!
            </h2>
            <h3 class="pb-3">Easy Video Guides for a Quick Start</h3>
        </div>
        <div class="row gy-3">
            <div class="col-md-6">
                <div class="product_block me-md-2">
                    <div class="pd_block-img">
                        <img src="https://qureskincaredns.com/new/assets/product_guide-1.webp" class="img-fluid" alt="">
                    </div>
                    <div class="pd_block-info">
                        <h5>Micro-Infusion Facial System</h5>
                        <p>How To Use, Safety Treatment Protocols, etc..</p>
                    </div>
                    <div class="pd_block-btn">
                        <a href="https://qureskincare.com/pages/microinfusion-safety-guide" class="btn btn-primary rounded-circle">
                            <img src="https://qureskincaredns.com/new/assets/arrow-next.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="product_block ms-md-2">
                    <div class="pd_block-img">
                        <img src="https://qureskincaredns.com/new/assets/product_guide-2.webp" class="img-fluid" alt="">
                    </div>
                    <div class="pd_block-info">
                        <h5>Faucet Filter </h5>
                        <p>Installation & Filter Replacement</p>
                    </div>
                    <div class="pd_block-btn">
                        <a href="https://qureskincare.com/pages/faucet-online-guide" class="btn btn-primary rounded-circle">
                            <img src="https://qureskincaredns.com/new/assets/arrow-next.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="product_block me-md-2">
                    <div class="pd_block-img">
                        <img src="https://qureskincaredns.com/new/assets/product_guide-3.webp" class="img-fluid" alt="">
                    </div>
                    <div class="pd_block-info">
                        <h5>Q-Rejuvalight Pro Facewear</h5>
                        <p>Set Up Guide, How To Use, Troubleshooting, etc..</p>
                    </div>
                    <div class="pd_block-btn">
                        <a href="https://qureskincare.com/pages/q-rejuvalight-pro-led-mask-guide" class="btn btn-primary rounded-circle">
                            <img src="https://qureskincaredns.com/new/assets/arrow-next.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="product_block ms-md-2">
                    <div class="pd_block-img">
                        <img src="https://qureskincaredns.com/new/assets/product_guide-4.webp" class="img-fluid" alt="">
                    </div>
                    <div class="pd_block-info">
                        <h5>Shower Filter</h5>
                        <p>Installation & Filter Replacement</p>
                    </div>
                    <div class="pd_block-btn">
                        <a href="https://qureskincare.com/pages/shower-filter-online-guide" class="btn btn-primary rounded-circle">
                            <img src="https://qureskincaredns.com/new/assets/arrow-next.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> {% endcomment %}
<!-- -- main banner end -- -->

<script src="https://fast.wistia.com/embed/medias/3ahwzg8wjz.jsonp" async></script>
<script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>