<!-- -- black friday sale main banner start -- -->
<div class="bfs_main_banner section">
    <div class="container">
        <div class="row align-items-center gx-0">
            <div class="col-md-6">
                <div class="bfs_mb_content bfBundle__content mw-mob-100">
                    <div class="bfs_tag mb-3 mx-auto ms-md-0">
                        <p class="bfs_tag_bf">BLACK FRIDAY</p>
                        <p class="bfs_tag_sale">SALE</p>
                    </div>
                    <div class="section_header mw-100 text-center text-md-start pb-0">
                        <h1 class="title-xl mb-4 mb-md-3">
                            Save Up to 55% on <br>Certified Skincare Solutions
                        </h1>
                        <p class="mw-402 p-0 d-none d-md-block">Backed by the most respected peer-reviewed
                            <strong>Dermatologist
                                Journals</strong>
                            and <strong>scientific studies</strong> that prove; Qure’s skincare
                            <strong>works.</strong>
                            </h4>
                    </div>
                    <div class="bfs_mb_btn d-none d-md-flex justify-content-between mw-499">
                        <div>
                            <a href="#bf-bundles" class="btn btn-bfBundle mt-0 mw-100 fw-normal">Shop &
                                <strong>SAVE
                                    UP TO 55%</strong> <img src="https://qureskincaredns.com/new/assets/arrow-down-white1.svg"
                                    class="img-fluid ms-2"></a>
                            <div class="ss_list p-0 ms-md-3">
                                <ul>
                                    <li>Free World-Wide Shipping</li>
                                    <li>Easy Returns within 30 Days</li>
                                </ul>
                            </div>
                        </div>
                        <div class="d-none d-md-block bfs_mb_btn_img">
                            <img src="https://qureskincaredns.com/new/assets/q_uses_1.webp" alt="" class="img-fluid pt-2">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="bfs_mb_slider">
                    <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
                        class="swiper bfs_mb_sl2">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#b1-s1-bundle" class="bfs_mb_wrap">
                                    <img src="https://qureskincaredns.com/new/assets/bf_mh_1.webp" class="img-fluid" />
                                    <div class="bfs_mb_saveTag">
                                        <p>SAVE</p>
                                        <h5>47%</h5>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#b1-s2-bundle" class="bfs_mb_wrap">
                                    <img src="https://qureskincaredns.com/new/assets/bf_mh_2.webp" class="img-fluid" />
                                    <div class="bfs_mb_saveTag">
                                        <p>SAVE</p>
                                        <h5>55%</h5>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#b1-s3-bundle" class="bfs_mb_wrap">
                                    <img src="https://qureskincaredns.com/new/assets/bf_mh_3.webp" class="img-fluid" />
                                    <div class="bfs_mb_saveTag">
                                        <p>SAVE</p>
                                        <h5>32%</h5>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#b2-s1-bundle" class="bfs_mb_wrap">
                                    <img src="https://qureskincaredns.com/new/assets/bf_mh_4.webp" class="img-fluid" />
                                    <div class="bfs_mb_saveTag">
                                        <p>SAVE</p>
                                        <h5>55%</h5>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#b2-s2-bundle" class="bfs_mb_wrap">
                                    <img src="https://qureskincaredns.com/new/assets/bf_mh_5.webp" class="img-fluid" />
                                    <div class="bfs_mb_saveTag">
                                        <p>SAVE</p>
                                        <h5>43%</h5>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#b2-s3-bundle" class="bfs_mb_wrap">
                                    <img src="https://qureskincaredns.com/new/assets/bf_mh_6.webp" class="img-fluid" />
                                    <div class="bfs_mb_saveTag">
                                        <p>SAVE</p>
                                        <h5>55%</h5>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#b2-s4-bundle" class="bfs_mb_wrap">
                                    <img src="https://qureskincaredns.com/new/assets/bf_mh_7.webp" class="img-fluid" />
                                    <div class="bfs_mb_saveTag">
                                        <p>SAVE</p>
                                        <h5>45%</h5>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#b2-s5-bundle" class="bfs_mb_wrap">
                                    <img src="https://qureskincaredns.com/new/assets/bf_mh_8.webp" class="img-fluid" />
                                    <div class="bfs_mb_saveTag">
                                        <p>SAVE</p>
                                        <h5>52%</h5>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#b3-s1-bundle" class="bfs_mb_wrap">
                                    <img src="https://qureskincaredns.com/new/assets/bf_mh_9.webp" class="img-fluid" />
                                    <div class="bfs_mb_saveTag">
                                        <p>SAVE</p>
                                        <h5>40%</h5>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#b3-s2-bundle" class="bfs_mb_wrap">
                                    <img src="https://qureskincaredns.com/new/assets/bf_mh_10.webp" class="img-fluid" />
                                    <div class="bfs_mb_saveTag">
                                        <p>SAVE</p>
                                        <h5>33%</h5>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#b3-s3-bundle" class="bfs_mb_wrap">
                                    <img src="https://qureskincaredns.com/new/assets/bf_mh_11.webp" class="img-fluid" />
                                    <div class="bfs_mb_saveTag">
                                        <p>SAVE</p>
                                        <h5>52%</h5>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#b3-s4-bundle" class="bfs_mb_wrap">
                                    <img src="https://qureskincaredns.com/new/assets/bf_mh_12.webp" class="img-fluid" />
                                    <div class="bfs_mb_saveTag">
                                        <p>SAVE</p>
                                        <h5>30%</h5>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="thumbsSlider_wrap mt-3">
                        <div thumbsSlider="" class="swiper bfs_mb_sl pagination_navigation1">
                            <div></div>
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="bfs_mb_wrapThumb">
                                        <img src="https://qureskincaredns.com/new/assets/bf_mh_1.webp" class="img-fluid" />
                                        <div class="bfs_mb_saveTagThumb">
                                            <p>SAVE</p>
                                            <h5>47%</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="bfs_mb_wrapThumb">
                                        <img src="https://qureskincaredns.com/new/assets/bf_mh_2.webp" class="img-fluid" />
                                        <div class="bfs_mb_saveTagThumb">
                                            <p>SAVE</p>
                                            <h5>55%</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="bfs_mb_wrapThumb">
                                        <img src="https://qureskincaredns.com/new/assets/bf_mh_3.webp" class="img-fluid" />
                                        <div class="bfs_mb_saveTagThumb">
                                            <p>SAVE</p>
                                            <h5>32%</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="bfs_mb_wrapThumb">
                                        <img src="https://qureskincaredns.com/new/assets/bf_mh_4.webp" class="img-fluid" />
                                        <div class="bfs_mb_saveTagThumb">
                                            <p>SAVE</p>
                                            <h5>55%</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="bfs_mb_wrapThumb">
                                        <img src="https://qureskincaredns.com/new/assets/bf_mh_5.webp" class="img-fluid" />
                                        <div class="bfs_mb_saveTagThumb">
                                            <p>SAVE</p>
                                            <h5>43%</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="bfs_mb_wrapThumb">
                                        <img src="https://qureskincaredns.com/new/assets/bf_mh_6.webp" class="img-fluid" />
                                        <div class="bfs_mb_saveTagThumb">
                                            <p>SAVE</p>
                                            <h5>55%</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="bfs_mb_wrapThumb">
                                        <img src="https://qureskincaredns.com/new/assets/bf_mh_7.webp" class="img-fluid" />
                                        <div class="bfs_mb_saveTagThumb">
                                            <p>SAVE</p>
                                            <h5>45%</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="bfs_mb_wrapThumb">
                                        <img src="https://qureskincaredns.com/new/assets/bf_mh_8.webp" class="img-fluid" />
                                        <div class="bfs_mb_saveTagThumb">
                                            <p>SAVE</p>
                                            <h5>52%</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="bfs_mb_wrapThumb">
                                        <img src="https://qureskincaredns.com/new/assets/bf_mh_9.webp" class="img-fluid" />
                                        <div class="bfs_mb_saveTagThumb">
                                            <p>SAVE</p>
                                            <h5>40%</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="bfs_mb_wrapThumb">
                                        <img src="https://qureskincaredns.com/new/assets/bf_mh_10.webp" class="img-fluid" />
                                        <div class="bfs_mb_saveTagThumb">
                                            <p>SAVE</p>
                                            <h5>33%</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="bfs_mb_wrapThumb">
                                        <img src="https://qureskincaredns.com/new/assets/bf_mh_11.webp" class="img-fluid" />
                                        <div class="bfs_mb_saveTagThumb">
                                            <p>SAVE</p>
                                            <h5>52%</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="bfs_mb_wrapThumb">
                                        <img src="https://qureskincaredns.com/new/assets/bf_mh_12.webp" class="img-fluid" />
                                        <div class="bfs_mb_saveTagThumb">
                                            <p>SAVE</p>
                                            <h5>30%</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button-next swiper-button"></div>
                        <div class="swiper-button-prev swiper-button"></div>
                    </div>
                    <div class="bfs_mb_btn d-block d-md-none justify-content-between mw-499 bfBundle__content">
                        <div>
                            <a href="#bf-bundles" class="btn btn-bfBundle mt-0 mw-100 fw-normal">Shop &amp;
                                <b>SAVE UP TO 55%</b> <img src="https://qureskincaredns.com/new/assets/arrow-down-white1.svg"
                                    class="img-fluid ms-3"></a>
                            <div class="ss_list p-0 ms-md-3">
                                <ul class="mw-268 mx-auto">
                                    <li class="mx-2">Free World-Wide Shipping </li>
                                    <li class="mx-2">Easy Returns within 30 Days</li>
                                </ul>
                            </div>
                        </div>
                        <div class="d-none d-md-block bfs_mb_btn_img">
                            <img src="https://qureskincaredns.com/new/assets/q_uses_1.webp" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- -- black friday sale main banner end -- -->