.bf_sale-banners h1 {
    font-size: 45px;
    font-weight: 500;
    line-height: 57.4px;
    letter-spacing: .45px;
}

.bf_sale-banners .red-line {
    position: relative;
    width: fit-content;
    display: inline-flex;
}

.bf_sale-banners .red-line:after {
    position: absolute;
    right: 0;
    bottom: -10px;
    content: '';
    width: 125px;
    height: 9px;
    background-image: url(../assets/red-line.svg);
    background-repeat: no-repeat;
}

.bf_sale-banners .banner_bf-text h5 {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.124px;
    margin: 29px 0;
}

.bf_sale-banners .btn_black {
    background-color: #000;
    color: #fff;
    padding: 10px 45px;
    border-radius: 30px;
    font-weight: 600;
    letter-spacing: .167px;
    font-size: 20px;
    margin-bottom: 15px;
    display: inline-block;
    width: auto;
    text-align: center;
}
.bf_sale-banners .main_banner2 .btn_black{
    background-color: #fff;
    color: #000;
}
.bf_sale-banners .main_banner {
    background-color: #F1F4F5;
}
.bf_sale-banners .main_banner2 {
    background-color: #000;
}
/* <!--Collection Banner--> */
.bf_sale-banners .collection_banner h1 {
    font-family: "Canela light";
}
.collection_text{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.collection_banner .collection_grid {
    grid-template-columns: 30% 38% 30%;
    justify-content: space-between;
}
.collection_banner .collection_grid .banner_text {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.bf_sale-banners .main_banner2 .btn_black {
    padding: 10px 57px;
}
.bfBundle__bannerBlock {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}
@media(max-width:767px) {
    .bf_sale-banners .main_banner h1 {
        font-size: 28px;
        line-height: 36px;
        letter-spacing: 0.28px;
    }
    .bf_sale-banners .banner_bf-text h5 {
        font-size: 13px;
        margin: 29px 0;
        line-height: 24px;
        letter-spacing: 0.124px;
    }
    .banner_bf-text {
        text-align: center;
        padding-top: 25px;
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
    }
    .bf_sale-banners .red-line:after {
        bottom: -8px;
        width: 80px;
        height: 10px;
        background-size: contain;
    }
    .bf_sale-banners .btn_black {
        font-size: 14px;
    }
    .bf_sale-banners .collection_banner h1 {
        font-family: "Canela light";
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.24px;
    }
    .bf_sale-banners .collection_banner h1 strong {
        display: block;
    }
}